[2018-06-05 19:18] ritazh opened #1 "[dysk flexvolume] ERR: container is empty"
I’m following https://github.com/Azure/kubernetes-volume-drivers/tree/master/flexvolume/dysk for flexvolume driver for dysk

I’ve created the container `dysks` and a blob `dysk.vhd` in a storage account.After creating the `dyskcreds` secret and the `nginx-flex-dysk` pod, I'm getting this error in the `/var/log/dysk-driver.log` log:  `ERR: container is empty`

[2018-06-06 08:21] andyzhangx commented on #1
@ritazh this issue is due to `jq` package is not installed on agent node, related to https://github.com/Azure/acs-engine/pull/3179, and jackfrancis is also fixing this issue on AKS.
 - Migitation: run following command on all agent nodes:
`sudo apt-get -f install -y && sudo apt install jq -y`

This feature used to work when kubelet is running as a container(within hyperkube image), while recently

[2018-06-06 11:07] andyzhangx commented on #1
And the original flexvolume driver is for containerized kubelet, I have updated the driver(as `dysk-flexvol-installer:0.7`), you may run
 -  `kubectl delete daemonset dysk-flexvol-installer --namespace=dysk`
 -  `kubectl  create -f https://raw.githubusercontent.com/Azure/kubernetes-volume-drivers/master/flexvolume/dysk/deployment/dysk-flexvol-installer.yaml`

[2018-06-06 17:19] ritazh commented on #1
Thanks Andy! that fixed the flexvolume installer issue...but once I exec into the sample pod, `df -h` is showing the following mounted to `/data` instead of a dysk volume:
[code]
From the agent node:
[code]
From the dysk installer log:
[code]
cc @khenidak

[2018-06-07 00:15] andyzhangx commented on #1
@ritazh what's your agent OS? is it Ubuntu? you may try this to install dysk module manually:
https://github.com/khenidak/dysk/blob/master/docs/build-install.md#using-docker

[2018-06-07 00:26] ritazh commented on #1
yes Ubuntu, `Linux k8s-agentpool1-33069367-0 4.13.0-1016-azure`
also could not find the dysk module under `/lib/modules/4.13.0-1016-azure/` on the host

[2018-06-07 06:07] andyzhangx commented on #1
@ritazh I tried on `4.13.0-1018-azure`, it works well.
@khenidak do you know whether dysk driver supports `4.13.0-1016-azure`?
[code]

[2018-06-07 07:31] andyzhangx commented on #1
Update: I also tried on `4.13.0-1016-azure`, it works well on my side.
[code]
[code]

[2018-06-12 14:05] andyzhangx commented on #1
Hi @ritazh, I have fixed this issue by https://github.com/Azure/kubernetes-volume-drivers/commit/127aecc5ae114298a1eb84bb757817e57611df50, pls try again. Thanks.

[2018-07-05 16:08] oportingale opened #3 "MountVolume.SetUp failed for volume "data" : invalid character '/'"
Hi,

I am trying to get this running on Azure AKS but am getting the error-

MountVolume.SetUp failed for volume "data" : invalid character '/' looking for beginning of value

I have tried this on AKS version 1.96 and 1.8.11
The container doesnt complete creating so I cannot connect to get the logs.
I'm attempting to create a pod using the nginx image.
Any help would be appreciated!

apiVersion: v

[2018-07-05 23:54] dharmeshkakadia opened #4 "Is cache interval for blobfuse (--file-cache-timeout-in-seconds) supported?"
Mentioned here : https://github.com/Azure/azure-storage-fuse#mount-options

It allows the how long the file cache is valid. This is very useful for large files.

[2018-07-06 00:09] andyzhangx commented on #3
I think you need to ssh to every agent node(you may assisn a public IP first), and install blobfuse binary:
https://github.com/Azure/kubernetes-volume-drivers/tree/master/flexvolume/blobfuse#2-install-blobfuse-driver-on-every-agent-node

We are make blobfuse built-in in acs-engine and AKS, while currently we need to install blobfuse manually.

[2018-07-06 00:14] andyzhangx commented on #4
not yet, I will implement that, maybe I could add a new field `mountOptions` and you could add arbitrary options in that field?
[code]

[2018-07-06 00:16] dharmeshkakadia commented on #4
Yeah, that seems like a good idea.
BTW the `tmppath` works fine. Thanks for getting that in.

[2018-07-06 00:18] andyzhangx commented on #4
`tmp-path` is required, so for required option, we put it under `options` explicitly, for other optional options, we put that in `mountOptions` field.

[2018-07-06 07:41] oportingale commented on #3
Hi Andy, thanks for the prompt response.
I apologise for my naivety, I have only just started using Kubernetes.
I was under the impression that running this command would install the blobfuse on the agent-

kubectl create -f https://raw.githubusercontent.com/Azure/kubernetes-volume-drivers/master/flexvolume/blobfuse/deployment/blobfuse-flexvol-installer-1.9.yaml

Do you know if its possible to ins

[2018-07-06 08:06] andyzhangx commented on #3
Following command will only install blobfuse flexvolume driver, while you still need to intall blobfuse on every node
[code]

We are working on preinstall blobfuse & flexvolume driver on acs-engine and AKS, so when node scale in acs-engine or AKS, new node will also have blobfuse installed. Currently you need to install blobfuse manually.

[2018-07-06 09:01] oportingale commented on #3
Ok thanks, I will try that.
Do you know how far off the preinstalled blobfuse driver will be please?

[2018-07-06 09:03] andyzhangx commented on #3
How do you create k8s cluster on Azure? For acs-engine, there is already a working in progress PR: https://github.com/Azure/acs-engine/pull/3401, after that merged, AKS will adopt that code change within one month.

[2018-07-06 10:02] oportingale commented on #3
Hi, I am creating the Kubernetes service directly via the portal. Latest version is 1.10.3.
Thanks

[2018-07-06 14:10] oportingale commented on #3
Hi, I can confirm that installing the blobfuse driver directly on the agent resolved the issue.
Many thanks for your assistance in this.
I am holding out for the version of AKS with this rolled in. I am not sure how we will handle scaling right now.

[2018-07-06 14:17] andyzhangx commented on #3
just provided you an easy way to deploy blobfuse driver:
https://github.com/Azure/kubernetes-volume-drivers/blob/master/flexvolume/blobfuse/README.md#option1-use-az-vm-extension-to-install-blobfuse-driver-on-every-agent-vm

### Option#1. Use `az vm extension` to install blobfuse driver on every agent VM
[code]

[2018-07-06 14:23] oportingale commented on #3
Thats fantastic! Thanks so much 👍

[2018-07-09 18:18] dharmeshkakadia commented on #4
Thanks, that would really help. Any ETA for this?

[2018-07-10 07:48] andyzhangx commented on #4
@dharmeshkakadia it's done, you could see the new example here:
https://github.com/Azure/kubernetes-volume-drivers/blob/master/flexvolume/blobfuse/nginx-flex-blobfuse.yaml

And you could use azure vm customscript extension to redeploy blobfuse flexvol driver now:
https://github.com/Azure/kubernetes-volume-drivers/tree/master/flexvolume/blobfuse#option1-use-azure-custom-script-extension-to-install-

[2018-07-10 08:48] andyzhangx commented on #4
make this script built-in into acs-engine PR: https://github.com/Azure/acs-engine/pull/3455

[2018-07-18 21:42] dharmeshkakadia commented on #4
Never mind. The error message is misleading. It was failing because of `--use-https=true` option.  After removing it, its working as expected. Thanks !

[2018-07-18 21:42] #4 closed

[2018-07-19 02:38] andyzhangx commented on #4
@dharmeshkakadia This PR [fix mountoptions don't allow blank space issue](https://github.com/Azure/kubernetes-volume-drivers/pull/5) has fixed the issue, if your `mountoptions` don't contain blank space, you won't need that fix.

[2018-10-09 17:55] saykumar opened #6 "[ AKS / dysk / csi ] MountVolume.WaitForAttach failed"
I'm using AKS v1.10.8. I followed the instructions on the CSI -> Dysk page and am trying the Dynamic Provisioning Example.

I've applied the fix described workaround described here to the `csi-dysk-{attacher|provisioner}` stateful sets to reliably talk to the master (otherwise there were a bunch of stream errors): https://github.com/Azure/AKS/issues/676

The nginx dynamic pvc example keeps failing

[2018-10-09 20:15] saykumar commented on #6
Update: I deleted and retried the test pod, and while the volume attachment succeeds, the pod never comes up, their status shows `NodeLost` and the output of `kubectl get nodes` shows the node on which mounting was attempted as `NotReady`.

Would you have some additional documentation for getting this to work for AKS?

[2018-10-10 01:16] andyzhangx commented on #6
@saykumar can you ssh to that node and check kubelet status on that node? And also get kubelet logs on that node by:
[code]

[2018-10-10 16:58] saykumar commented on #6
@andyzhangx I've pasted the kubelet logs from the 2 nodes in our cluster here. Since the kublet logs were pretty chatty, I filtered it to the 10 minute window when one of these nodes went into `NotReady`:

https://pastebin.com/raw/7AntegzT
https://pastebin.com/raw/B7ZSRxnj

The nodes seem to recover after 15-20 minutes.

[2018-10-10 20:08] saykumar commented on #6
Unfortunately, the node's SSH daemon isn't responding either. I can potentially reproduce this again and share those steps. Would that help?

[2018-10-11 01:57] andyzhangx commented on #6
@saykumar  this could be related to https://github.com/khenidak/dysk/issues/57
@khenidak

[2018-10-20 00:16] ohthehugemanatee opened #7 "blobFUSE flexVolume README example problems"
I followed the README instructions using a PV/PVC, but the flexVolume won't attach to the pod in the end. Even using the example files (with required modifications eg container). `kubectl describe pod nginx-flex-blobfuse-pvc` gives:

`MountVolume.SetUp failed for volume "pv-blobfuse-flexvol" : mount command failed, status: Failure, reason: validation failed, error log:accountname is empty`

It doe

[2018-10-20 01:08] andyzhangx commented on #7
error logs says `accountname is empty`, are you using `accountname` keyword in `kubectl create secret` command?
[code]

You may provide `kubectrl describe secret blobfusecreds` output.

[2018-10-20 01:10] andyzhangx commented on #7
Besides that, there is no size concept for azure storage, it has only a size limit which is very big, size in PVC is only a tag, cannot prevent you to exceed that size.

[2018-10-20 17:42] ohthehugemanatee commented on #7
Thanks for the fast response!

[code]

Looks OK to me. I can also use `kubectl get secret blobfusecreds -o yaml` and validate that the accountkey and accountname are correct (base64 encoded versions of the raw values I input). Not to mention, those creds HAVE to be OK for it to work in the dynamic claim.

Regarding the size, what I mean is that the mounted device in the container is seen (by `df -

[2018-10-20 17:57] ohthehugemanatee commented on #7
<sigh> I re-created everything today and it DOES mount now. So I must have had a typo or similar stupid issue.

BUT `df -h` still reports the funny device size. Actually I noticed that it's reporting the same used and total as the root device. So I'm not at all certain that it's actually using the blobstore.

[code]
For reference, here is the config:

[code]

How can I validate that it's mounting

[2018-10-20 19:38] ohthehugemanatee commented on #7
I tested creating a 512MB file in the "blobstore" mounted directory, and can confirm that it changes the `df -h` values for everything based on the root device. So I guess it's actually using the root device.

Here's the `describe` output for the PV and PVC. They're supposed to be 1TB in this case.

[code]
[code]

[2018-10-22 05:53] andyzhangx commented on #7
Your oginial issue is due to this issue: https://github.com/Azure/kubernetes-volume-drivers/issues/4, fixed in `blobfuse-flexvol-installer:1.0.7`.
Could you paste logs from `/var/log/blobfuse-driver.log` under `aks-nodepool1-40115916-0`? I doubt whether `blobfuse` is aleady installed on your aks node, you could check by running `blobfuse` directly.

To verify whether blobfuse mount successfully, y

[2018-10-23 22:02] ohthehugemanatee commented on #7
[code]

yep looks like it's not installed. That's odd; `kubectl version` says I'm on 1.9.9:

[code]

And I definitely ran `kubectl apply -f https://raw.githubusercontent.com/Azure/kubernetes-volume-drivers/master/flexvolume/blobfuse/deployment/blobfuse-flexvol-installer-1.9.yaml`. I can see the installer container running with `kubectl describe node aks-nodepool1-40115916-0`:

[code]

I just tried

[2018-10-24 00:04] andyzhangx commented on #7
`kubectl apply -f https://raw.githubusercontent.com/Azure/kubernetes-volume-drivers/master/flexvolume/blobfuse/deployment/blobfuse-flexvol-installer-1.9.yaml` suppose blobfuse binary is already installed on VM, and on latest AKS node, `blobfuse` binary is already installed by default.
You may install `blobfuse` manually on your agent node:
https://github.com/Azure/azure-storage-fuse/wiki/1.-Instal

[2018-10-24 14:09] andyzhangx commented on #7
BTW, your AKS cluster may be old, on the newly created AKS cluster, `blobfuse` binary is already pre-installed on every node. Yyou need to install blobfuse binary manually on your current node.

[2018-10-24 14:21] andyzhangx commented on #3
since blobfuse is already installed by default on AKS and acs-engine, I will close this issue now.
/close

[2018-10-24 14:21] #3 closed

[2018-10-24 15:32] ohthehugemanatee commented on #7
Hm. I created the AKS cluster in the last week of September. Is that old enough not to have blobfuse? Or maybe it's the region I'm in?

[2018-10-24 23:59] andyzhangx commented on #7
which region? I can help you check.

[2018-10-26 21:53] ohthehugemanatee commented on #7
westeurope. I just tried removing and re-creating the entire cluster, then running the readme again. Still:

[code]

Thank you again for all your support.

[2018-10-29 07:19] andyzhangx commented on #7
@ohthehugemanatee I created an AKS cluster in west europe, by running following command, it works well.
[code]

[code]

Could you ssh to the agent VM which is running `nginx-flex-blobfuse` and get the `/var/log/blobfuse-driver.log`, the VM should be under resource group name: `MC_{RESOUCE-GROUP-NAME}{CLUSTER-NAME}{REGION}` and blobfuse binary is already built-in in AKS node.

[2018-10-29 09:45] ohthehugemanatee commented on #7
I notice your example is logging into the nodepool - I was logging into the pods!

When I log into the nodepool, the blobfuse binary *is* available, and the mount looks right:
[code]

Here's `/var/log/blobfuse-driver.log`.
[code]

So it's getting to the nodepool OK. Why does the pod seem to use the pod's own root filesystem?

[2018-10-29 11:52] andyzhangx commented on #7
@ohthehugemanatee it has mounted correctly. You could write a file under `/data` and check that file under your storage account. The file system size info in docker volume mapping for blobfuse dir seems incorrect, anyway, it's a minor issue.

[2018-10-29 21:50] mattkelly opened #8 "CSI support for Kubernetes v1.12.x"
The way CSIs are registered/operate has fundamentally changed in Kubernetes v1.12.x. This means that the existing images and manifests no longer work:

[code]

You can easily reproduce this by following the steps listed [here](https://github.com/Azure/kubernetes-volume-drivers/tree/master/csi/hostpath).

Other CSIs broke in the same way. For example, you can reference the [similar DigitalOcean iss

[2018-10-31 10:39] andyzhangx commented on #8
@mattkelly thanks for pointing out, I will fix it.

[2018-11-02 20:36] ohthehugemanatee commented on #7
Thanks again. Confirmed that it's working.

[2018-11-02 20:36] #7 closed

[2018-11-05 15:09] mattkelly commented on #8
Thanks @andyzhangx! Any chance you can provide a rough ETA for a new image being pushed?

[2018-11-07 11:16] andyzhangx commented on #8
@mattkelly It's not related to the csi-hostpath image, I have followed exactly as https://kubernetes-csi.github.io/docs/Example.html, and it works. There is really big change in v1.12.x, by default, CSI is even not enabled. Anyway, the csi-hostpath works now. And thanks for pointing out, my next major work would write azure disk & azure file csi drivers, make it work on v1.12.x

[2019-01-14 23:06] andyzhangx commented on #8
close this issue since I have already implemented following csi drivers which supports k8s v1.12:
https://github.com/Azure/kubernetes-volume-drivers/tree/master/csi/azuredisk
https://github.com/Azure/kubernetes-volume-drivers/tree/master/csi/azurefile

[2019-01-14 23:06] #8 closed

[2019-01-15 20:09] sshorkey opened #9 "MountVolume.SetUp failed for volume "volume2" : invalid character 's' after object key:value pair"
This is similar to but not the same as closed issue #3.

I'm trying to create 2 volumes:
[code]
and it fails with

This is preventing the container from starting, so there's no additional logs I can give.

I am running on AKS with K8 version 1.11.4. Blobfuse driver is installed.

[2019-01-15 21:43] andyzhangx commented on #9
@sshorkey can you get the `blobfuse-flexvol-installer.log` log file by following:
https://github.com/Azure/kubernetes-volume-drivers/tree/master/flexvolume/blobfuse#debugging-skills
and also you may try removing a mountoption with `mountoptions: "--file-cache-timeout-in-seconds=120`

[2019-01-15 22:18] sshorkey commented on #9
@andyzhangx Do you know where I can get that file? I'm on AKS and connecting using the cloud shell, I don't know where that log file is or how to get it...

[2019-01-15 22:35] andyzhangx commented on #9
@sshorkey could you remove the `mountoptions` in the config and retry, that will narrow down the issue.

[2019-01-15 22:36] andyzhangx commented on #9
you could ssh to one node with problem for diagnostics:
https://docs.microsoft.com/en-us/azure/aks/ssh

[2019-01-23 11:42] rahulbreddy opened #10 "Extremely slow performance on mounted volumes"
I followed the readme instructions and created a PV and PVC. The volume seems to be mouting but not before at least one timeout event.

Once everything is up and running, trying to list the contents of the data directory takes a very long time (in minutes) eventually returning 0 items though I have 1 non-empty blob in my container.

Also, echo "foo" > test.txt in the data directory results in an I

[2019-01-23 14:17] andyzhangx commented on #10
@rahulbreddy so you are experiencing slow perf using blobfuse driver now, right? could it reproable? what's the detailed steps?
cc @seguler

[2019-01-23 15:42] rahulbreddy commented on #10
@andyzhangx I did the following on our AKS cluster:

- kubectl create -f https://raw.githubusercontent.com/Azure/kubernetes-volume-drivers/master/flexvolume/blobfuse/deployment/blobfuse-flexvol-installer-1.9.yaml
- kubectl create secret generic blobfusecreds --from-literal accountname=ACCOUNT-NAME --from-literal accountkey="ACCOUNT-KEY" --type="azure/blobfuse"
- wget https://raw.githubusercontent.

[2019-01-23 16:11] rahulbreddy commented on #10
@andyzhangx A small correction from one on the previous posts. The cache is on an SSD and not ramdisk.

[2019-01-25 12:18] rahulbreddy commented on #10
@andyzhangx @seguler Did you guys get a chance to review the above information?

[2019-01-25 14:36] andyzhangx commented on #10
@rahulbreddy to narrow down the issue, could you ssh to that node and by running `mount | grep blobfuse`, you could find that mounted dir directly, and then check whether that dir is accessible on your node.

[2019-01-25 15:10] fboylu opened #11 "secrets "blobfusecreds" not found"
I am getting the following from the container which is stuck in creating stage. Where does these secrets get stored?

Warning  FailedMount  35s (x23 over 31m)    kubelet, aks-nodepool1-17354647-1  MountVolume.SetUp failed for volume "blob" : Couldn't get secret kubeflow/blobfusecreds err: secrets "blobfusecreds" not found

any ideas what may be wrong?
thanks

[2019-01-25 15:16] andyzhangx commented on #11
pls use `azure/blobfuse` in `type` parameter instead:
[code]

[2019-01-25 15:17] fboylu commented on #11
that is exactly what I used :
kubectl create secret generic blobfusecreds --from-literal accountname=$STORAGE_ACCOUNT_NAME --from-literal accountkey=$STORAGE_ACCOUNT_KEY --type="azure/blobfuse"

[2019-01-25 15:22] andyzhangx commented on #11
I see, your workloads are in `kubeflow` namespace, could you edit your pod spec like following:
[code]

Or you could create secret under `kubeflow` namespace:
[code]

[2019-01-25 15:27] t1agob opened #12 "MountVolume.SetUp failed for volume "pv-blobfuse-flexvol" : invalid character 'F' looking for beginning of value"
Hello,
I followed all the instructions from the readme document and it fails with one of the error message types listed in it.

**_MountVolume.SetUp failed for volume "pv-blobfuse-flexvol" : invalid character 'F' looking for beginning of value_**

I have connected to one of the nodes of the cluster and in the log file this is the message:

**_Fri Jan 25 14:57:50 UTC 2019 INFO: {"status": "Success"

[2019-01-25 15:37] fboylu commented on #11
it worked, thank you!

[2019-01-25 15:49] #11 closed

[2019-01-25 15:54] andyzhangx commented on #12
could you provide `/var/log/blobfuse-driver.log`? you may remove the secret info before pasting. thanks.

[2019-01-28 10:57] t1agob commented on #12
Hello @andyzhangx ,
on **node-0** the `/var/log/blobfuse-driver.log` log just shows:

On **node-1** the log shows: _(lines are getting striked-out due to "~" characther)_

....

and the last log entry gets repeated every 120s.

**PS:** I haven't removed any secret from the file. AZURE_STORAGE_ACCESS_KEY shows "..." already in the log file.

[2019-01-28 16:19] t1agob commented on #12
Thanks for your help @andyzhangx. I was able to make it work when connected to node-1 so I read the article again and saw I missed one of the requirements: **a container**.

I was assuming it would create one for me. Thanks so much for your help and sorry for the trouble.

[2019-01-28 16:19] #12 closed

[2019-01-29 14:36] andyzhangx commented on #9
hi @sshorkey for diagnostics, you may refer to this case: https://github.com/Azure/kubernetes-volume-drivers/issues/12, it could help you narrow down the issue.

[2019-02-13 07:17] andyzhangx commented on #9
@sshorkey thanks for reporting, `mcr.microsoft.com/k8s/flexvolume/blobfuse-flexvolume:1.0.8` would fix this issue, related PR: https://github.com/Azure/kubernetes-volume-drivers/pull/13
You could use following way to update the blobfuse driver manually:
https://github.com/Azure/kubernetes-volume-drivers/blob/master/flexvolume/blobfuse/install-blobfuse-manually.md#3-install-blobfuse-flexvolume-driv

[2019-02-13 13:46] andyzhangx commented on #9
correct way to update the blobfuse driver on AKS:
[code]

[2019-02-14 07:01] andyzhangx commented on #10
hi @rahulbreddy do you have chance to repro this issue? To narrow down the issue, you could use `blobfuse` command directly on that agent VM, e.g.
[code]

And then check whethter there is timeout.
Pls make sure your VM and storage account are in the same region.

[2019-02-18 06:22] #9 closed

[2019-02-18 06:22] andyzhangx commented on #9
Let me know if you have any question, thanks.

[2019-03-01 00:19] asjddd opened #14 "MountVolume.SetUp failed for volume "test" : invalid character '/' looking for beginning of value"
**What happened**:
A mount that had worked just days before failed to mount.

To investigate we simplified to the test example on https://github.com/Azure/kubernetes-volume-drivers/tree/master/flexvolume/blobfuse

This exact test example has worked previously just days ago (clean copy-paste from our docs right to the machine, no chance of human error). This morning it broke.

We tried to mount a t

[2019-03-01 03:00] andyzhangx commented on #14
hi, could you try this locally by below commands first, seems there is sth wrong with the account key:
[code]

[2019-03-04 21:40] asjddd commented on #14
Well here's the thing...

The exact same setup - secrets, container etc. - still works perfectly on another cluster with a slightly older version of the BlobFuse driver. So we're pretty sure it must be a regression that has crept in since then.

What's the best way to help determine exactly which version of the driver that is working for us, so we can zero in on the potentially damaging changes in

[2019-03-05 03:52] andyzhangx commented on #14
Here is the way to get the version of driver:
[code]

and could you also try your account key in a Linux VM, it does not work now:
[code]

You may install install blobfuse first, refer to https://github.com/Azure/azure-storage-fuse/wiki/1.-Installation

[2019-03-05 13:00] andyzhangx commented on #14
also, you k8s cluster is 1.8.7 which is very old, I cannot set up such old cluster now, cannot repro in my k8s cluster. I would suggest use a newer k8s version, e.g. 1.12.x to try again.

[2019-03-05 16:43] asjddd commented on #14
[code]

[2019-03-05 16:47] asjddd commented on #14
You can contact Prajwal who is trying to get this working directly at Prajwal.Muralidhara@microsoft.com for more details.

[2019-03-05 18:35] IvanovOleg commented on #3
@andyzhangx I have the same issue on kubernetes installed on CoreOS (blobfuse installed on each node)
[code]
on each VM blobefuse path is `/run/torcx/bin/blobfuse` which is added to the $PATH and works on the node itself

[2019-03-05 18:49] IvanovOleg commented on #14
I have the same issue on CoreOS. Blobefuse is installed and works in /run/torcx/bin/blobfuse but flexvolume expects it to be in /usr/bin/blobfuse due to the hardcoded path:
https://github.com/Azure/kubernetes-volume-drivers/blob/ec19f447cf5bd7d8d785b6f644c268f003f020d0/flexvolume/blobfuse/deployment/blobfuse-flexvol-installer/blobfuse#L5

[2019-03-06 09:41] andyzhangx commented on #14
@IvanovOleg  thanks for reporting,  could your try edit `/etc/kubernetes/volumeplugins/azure~blobfuse/blobfuse` and check whether that works, I would then remove such hardcoded path in next version.

[2019-03-07 06:11] IvanovOleg commented on #14
@andyzhangx
Hi, I've changed the path as you described and got the different error:
`Thu Mar  7 02:00:09 UTC 2019 EXEC: mkdir -p /var/lib/kubelet/pods/b71df11f-407c-11e9-b871-000d3a44a2ce/volumes/azure~blobfuse/pgdatabase-pv-blobfuse-flexvol
Thu Mar  7 02:00:09 UTC 2019 INF: export storage account - export AZURE_STORAGE_ACCOUNT=xxxxxxx AZURE_STORAGE_ACCESS_KEY=...
Thu Mar  7 02:00:09 UTC 2019 EXEC

[2019-03-07 06:20] andyzhangx commented on #14
@IvanovOleg could you try below commands on that VM directly, I am not sure whether blobfuse works on coreos:
[code]

[2019-03-07 06:24] IvanovOleg commented on #14
@andyzhangx It works
[code]

[2019-03-07 06:29] andyzhangx commented on #14
@IvanovOleg mkdir does not work?
[code]
what is your kubelet? is it a container or daemon process? and your k8s version?

[2019-03-07 06:30] IvanovOleg commented on #14
Kubelet is a systemd service. K8S 1.13.4

[2019-03-07 06:32] andyzhangx commented on #14
@IvanovOleg How can I set up a k8s cluster on coreos?

[2019-03-07 06:33] IvanovOleg commented on #14
It's painful) I did it using a custom terraform configuration + torcx images.

[2019-03-07 06:35] andyzhangx commented on #14
@IvanovOleg Not sure whether your kubelet is a container or not, it's quite different, you could check by:
https://github.com/andyzhangx/demo/blob/master/debug/README.md#q-check-whether-kubelet-is-containerized-or-running-as-native-daemon

[2019-03-07 06:36] IvanovOleg commented on #14
@andyzhangx It's a binary file

[2019-03-07 06:52] andyzhangx commented on #14
@IvanovOleg then why `mkdir -p /var/lib/kubelet/pods/b71df11f-407c-11e9-b871-000d3a44a2ce/volumes/azure~blobfuse/pgdatabase-pv-blobfuse-flexvol` does not work? I cannot test that on coreos

[2019-03-07 06:56] IvanovOleg commented on #14
@andyzhangx I will investigate it on CoreOs anyway, because I need this feature working. I will let you know as soon as I get results. Btw I have no issues with the other persistent volume types (azure disks).

[2019-03-07 07:55] IvanovOleg commented on #14
@andyzhangx Here is what I've found on the agent node by executing `sudo systemctl -xe`:
`Mar 07 07:46:15 agent1 kubelet[1474]: I0307 07:46:15.435340    1474 util.go:52] found flex volume secret info: accountkey
Mar 07 07:46:15 agent1 kubelet[1474]: I0307 07:46:15.435360    1474 util.go:52] found flex volume secret info: accountname
Mar 07 07:46:15 agent1 blobfuse[59748]: Unable to start blobfuse.

[2019-03-07 08:02] andyzhangx commented on #14
`export` does not work on coreos?
https://github.com/Azure/kubernetes-volume-drivers/blob/ec19f447cf5bd7d8d785b6f644c268f003f020d0/flexvolume/blobfuse/deployment/blobfuse-flexvol-installer/blobfuse#L78

[2019-03-07 08:10] IvanovOleg commented on #14
@andyzhangx  it works, but I have AZURE_STORAGE_SAS_TOKEN set

[2019-03-07 08:17] andyzhangx commented on #14
@IvanovOleg Yes, looks like I need to support `AZURE_STORAGE_SAS_TOKEN` also:
[code]

[2019-03-07 08:18] andyzhangx opened #15 "[blobfuse] support AZURE_STORAGE_SAS_TOKEN"
**Is your feature request related to a problem?/Why is this needed**

Current blobfuse flexvol only supports AZURE_STORAGE_ACCOUNT and AZURE_STORAGE_ACCESS_KEY, `AZURE_STORAGE_SAS_TOKEN` is not supported

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

[2019-03-08 07:56] IvanovOleg commented on #14
@andyzhangx When can I expect a new release of the blobfuse-flexvolume with custom binary path and sas token support?

[2019-03-08 10:38] andyzhangx commented on #8
share you the new azure CSI drivers, it's under kubernetes-sig now:
https://github.com/kubernetes-sigs/azuredisk-csi-driver
https://github.com/kubernetes-sigs/azurefile-csi-driver

You could run those drivers on k8s v1.13.x

[2019-03-08 13:46] #15 closed

[2019-03-11 03:38] andyzhangx opened #19 "[test] add more CI tests for blobfuse and smb flexvol plugins"
**Is your feature request related to a problem? Please describe.**

Current CI tests for blobfuse and smb flexvol plugins are not enough, need to at least add mount/unmount tests
https://github.com/Azure/kubernetes-volume-drivers/blob/34de2a1d7eec0fcdcd0342fd99950cb3dbadf0d5/flexvolume/blobfuse/test/run-test.sh#L16

**Describe the solution you'd like in detail**

**Describe alternatives you've con

[2019-03-28 12:04] DougDavenport opened #20 "Dynamic volume provisioning?"
Does the smb flexvolume driver support this:

https://kubernetes.io/docs/concepts/storage/dynamic-provisioning/

If so then can you please show an example.

[2019-03-28 12:13] andyzhangx commented on #20
@DougDavenport of course not, it only supports static provisioning, that is user must provide a SMB server in advance. And azure file plugin supports Dynamic volume provisioning

[2019-03-28 12:59] DougDavenport commented on #20
Thank you

[2019-03-28 12:59] #20 closed

[2019-03-31 16:32] rahulbreddy commented on #10
Hi @andyzhangx I did not get a chance to investigate this further. Given the future direction we were heading towards, it made more sense for us to use the blob SDK/APIs. We can close this issue for now. I will reopen the issue if I get a chance to try this again in the future.

[2019-03-31 16:32] #10 closed

[2019-04-03 03:15] GuyPaddock opened #21 "Documentation Typo: "Install blobfuse driver on a kubernetes cluster" for 1.7 and 1.8"
**What happened**:
The documentation for the command to use on Kubernetes 1.7 and 1.8 has a typo.

**What you expected to happen**:
The command provided for 1.7 & 1.8 should work.

**How to reproduce it**:
Review the steps under "for version v1.8 & v1.7" in https://github.com/Azure/kubernetes-volume-drivers/blob/master/flexvolume/blobfuse/README.md#2-install-blobfuse-driver-on-every-agent-vm.

**A

[2019-04-03 03:21] andyzhangx commented on #21
thanks, I have corrected the typo

[2019-04-04 16:49] GuyPaddock commented on #21
@andyzhangx what about my second bullet point?

Sorry; I know that's kind of a separate issue that I sneaked in. 😅

[2019-04-08 05:12] andyzhangx commented on #21
I set the format "for version v1.8 & v1.7" section like that mainly because 1.7 & 1.8 are  deprecated in AKS version now:

[code]

[2019-04-12 07:07] andyzhangx opened #22 "use different tmp-path value for different blobfuse mounts"
**What happened**:
According to https://github.com/Azure/azure-storage-fuse/issues/267, two different blobfuse mount use same `tmp-path` value on same node would have race condition

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -

[2019-04-17 20:38] odedia commented on #14
I got the same error while trying to mount an SMB share with flexvolume smb. Note that I didn't deploy to azure but to an on-premise PKS cluster.

[2019-04-18 01:12] andyzhangx commented on #14
@odedia could you provide following info:
1. smb driver version
2. `/var/log/smb-driver.log`

https://github.com/Azure/kubernetes-volume-drivers/tree/master/flexvolume/smb#debugging-skills

[2019-04-18 06:27] odedia commented on #14
Information below.
We have concluded that the issue might be that `jq` is not installed on the worker nodes. However, in enterprise environments like PKS the worker nodes are managed and therefore any installation on them would be deleted on the next upgrade.
We're trying to think of a way to add `jq` itself to the demon set installation.

SMB driver version:
[code]

Pod `describe`:
[code]
`/var/l

[2019-04-18 06:32] andyzhangx commented on #14
@odedia you need to install jq, and cifs-utils on work node:
[code]

what is `PKS`?

[2019-04-18 06:36] odedia commented on #14
It's an Enterprise Kubernetes offering from Pivotal and VMware.

Thanks for the information, i'll try to get this working from the daemon set.

[2019-04-18 21:26] odedia commented on #14
I forked the repo to let `jq` be installed as part of the daemon set automatically. This solves two problems:
1. worker nodes can come and go - be resized, repaved, patched etc. so manual installation of binaries is not ideal because the installation would be gone on the next upgrade when a VM is replaced.
2. in air-gapped environments, it is not possible to go out to the public web to install `jq

[2019-05-09 22:36] htbase opened #23 "Unknown service csi.v1.Node when deploying pod"
We tried using the directions included in this page, it all seems to work fine, except when deploying the pod:

kubectl create -f https://raw.githubusercontent.com/Azure/kubernetes-volume-drivers/master/csi/hostpath/nginx-pod-csi-hostpath.yaml

Once deployed, we see this message:

MountVolume.MountDevice failed for volume "kubernetes-dynamic-pv-36d1cf8772aa11e9" : rpc error: code = Unimplemented d

[2019-05-10 02:54] andyzhangx commented on #23
hi @htbase `supported Kubernetes version: v1.10.0 ~ v.11.x` for this hostpath csi driver, it's an experimental driver, you could try other csi driver on 1.13, e.g. azure disk, azure file, blobfuse csi drivers.

[2019-05-12 16:28] tanaka-takayoshi opened #24 "[Document Improvement Request] Add requirements to dysk driver"
**What happened**:
The dysk driver requires the non-HTTPS (HTTP) access to the storage account.
The storage account created by AKS disabled HTTP access by default.

**What you expected to happen**:
Could you add this requirement to the doc?
https://github.com/Azure/kubernetes-volume-drivers/tree/master/flexvolume/dysk

**How to reproduce it**:
Always when using the storage account created by AKS.

[2019-05-12 16:32] tanaka-takayoshi opened #25 "[dysk] Add support to automatic creation of empty VHD for dysk"
**Is your feature request related to a problem?/Why is this needed**
The current dysk driver requires the VHD file exists beforehand.
Though I need just an empty VHD file, it's too messy to create an empty VHD file.
This is also an Azure side issue, but it seems Azure doesn't intend to support it.
https://github.com/Azure/azure-cli/issues/655

**Describe the solution you'd like in detail**
The dys

[2019-05-14 12:31] odedia opened #26 ""Operation now in progress" on second mount"
**What happened**:
Upon a second pod being applied with an SMB mount, I got an error in the log:

[code]

**What you expected to happen**:
Second mount should succeed like the first mount

**How to reproduce it**:
Run a pod with direct volume mount, then run a second pod with a different mount. The second pod will fail.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (u

[2019-05-14 12:37] andyzhangx commented on #26
could you provide the detailed config with cred removed?
second pod with a different mount but with same smb target on the same node?

[2019-05-14 12:43] odedia commented on #26
I just figured it out - it appears that I didn't setup the share itself properly. I tried connecting to it from another machine and it failed again. Once I setup the share with read permission for Everyone it did work from another desktop and from Kubernetes, not sure why it required it but regardless this is not related to the flexvolume itself.
For reference, the issue was a second application e

[2019-05-14 12:43] #26 closed

[2019-06-04 16:48] omerlh opened #27 "Support pod identity for storage authentication"
**Is your feature request related to a problem?/Why is this needed**

Use pod identity is better from a security point of view compared to regular secrets (SAS or blob access keys). Easier to manage, distribute etc.

**Describe the solution you'd like in detail**

Add support for authentication to storage with managed identity in addition to SAS/account token.

**Describe alternatives you've consi

[2019-06-19 04:27] ewyuanzhang opened #28 "Support blobfuse custom storage endpoint"
I am trying to use this with Azure in China, but I cannot modify the storage endpoint as described [here](https://github.com/Azure/azure-storage-fuse/pull/85) in Blobfuse. Do you consider adding the support of custom storage endpint?

[2019-06-19 06:59] andyzhangx commented on #28
I submitted a PR in blobfuse repo: https://github.com/Azure/azure-storage-fuse/pull/281
It's better add env support for custom storage endpoint

[2019-06-19 06:59] andyzhangx commented on #28
cc @seguler

[2019-07-04 18:28] samuel-begin opened #29 "Literally unusable"
there is a typo in the README, just thought you should know

- https://github.com/Azure/kubernetes-volume-drivers/tree/master/flexvolume/blobfuse#prerequisite

[2019-07-05 02:46] andyzhangx commented on #29
thanks, it's fixed.

[2019-07-05 02:46] #29 closed

[2019-07-20 18:27] ryholt opened #30 "Mount Options not being honored?"
**What happened**:
I define mountOptions inside of a PV. When checking the subsequent mount within one of the k8s nodes it doesn’t honor those mount options.
**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
K8S nodes inside of Hyper-V. Accessing SOFS storage on-prem.

PVC file:

[code]

Subsequent mount

[code]
Kubectl Version:
[code

[2019-07-20 18:43] ryholt commented on #30
Nevermind.. mountOptions is case sensitive. Apologies!

[2019-07-20 18:43] #30 closed

[2019-08-02 06:28] cometta opened #31 "can't run the example given"
**What happened**:
I run the option 1 example and get below error

vents:
  Type     Reason       Age                From                               Message
  ----     ------       ----               ----                               -------
  Normal   Scheduled    31s                default-scheduler                  Successfully assigned default/nginx-flex-blobfuse to aks-nodepool1-31835897-

[2019-08-02 06:30] andyzhangx commented on #31
could you attach the `/var/log/blobfuse-driver.log` file on the agent node? Thanks.

[2019-08-02 13:29] cometta commented on #31
@andyzhangx , elaborate more please, is agent node is the pod running blobfuse-flexvol ?

install done, daemonset sleeping

when i run the pod/nginx-flex-blobfuse example, the status remain as ContainerCreating and log showing MountVolume.SetUp failed for volume "test" : invalid character 'F' looking for beginning of value

[2019-08-02 15:00] andyzhangx commented on #31
@cometta You need to ssh to that agent node, and get the log file `/var/log/blobfuse-driver.log`

[2019-08-03 03:08] cometta commented on #31
@andyzhangx

`
Sat Aug  3 03:04:06 UTC 2019 EXEC: mkdir -p /var/lib/kubelet/pods/the_pod_hash_masked_privacy/volumes/azure~blobfuse/test
Sat Aug  3 03:04:06 UTC 2019 INF: AZURE_STORAGE_ACCESS_KEY is set
Sat Aug  3 03:04:06 UTC 2019 INF: export storage account - export AZURE_STORAGE_ACCOUNT=<masked_privacy>
Sat Aug  3 03:04:06 UTC 2019 EXEC: blobfuse /var/lib/kubelet/pods/the_pod_hash_masked_privac

[2019-08-03 05:23] andyzhangx commented on #31
@cometta Your error could be due to non-existing storage account or storage container, to narrow down this issue, could you run following command on that agent node to check whether blobfuse works:
[code]

[2019-08-03 08:50] cometta commented on #31
my bad. Thank you for guiding on how to troubleshoot it. @andyzhangx . The reason was due to incorrect container name

[2019-08-03 08:50] #31 closed

[2019-08-13 13:34] chenbr opened #32 "mount hangs on start"
**What happened**:
When create I pv and pvc, I can see the smb bash script calling the mount command but it never returns. I have to add "log '{"status": "Success"}'" so the script returns the json so kubelet is happy. Even adding in an echo statement makes it work. Running the raw mount command works as well. I think it has to do some forking that is going on that kubelet is not getting back the

[2019-08-13 13:38] leonj1 commented on #32
Best I can tell, using the out-of-the-box bash script the mount command executes and mounts properly, but never returns. Thus, the kubelet timesout waiting for the flexvolume driver to return.

Unexpectedly, while debugging, adding an echo before the mount (any echo contents) the mount command runs as before, BUT this time it returns and exits the bash script, thus the kubelet gets its expected JS

[2019-08-13 13:42] andyzhangx commented on #32
yes, it's weird, is there anything to fix for this driver?

[2019-08-13 13:52] chenbr commented on #32
Yea add the log statement for what it’s worth. Makes it work, but the real
deal is why.

On Tue, Aug 13, 2019 at 9:42 AM Andy Zhang <notifications@github.com> wrote:

[2019-08-13 13:56] andyzhangx commented on #32
is that agent node busy at that time?

[2019-08-13 13:57] chenbr commented on #32
not at all.. its a bare cluster with just jupyterhub on it..

[2019-08-26 18:16] bbgobie opened #33 "Unable to use domain credentials"
**What happened**:
Trying to mount a SMB share with domain credentials.

Issue seems to be with entering the user

tried these formats with the following errors

domain\user
Mon Aug 26 18:04:52 UTC 2019 ERROR: { "status": "Failure", "message": "Failed to mount device at /var/lib/kubelet/pods/f4503852-c82b-11e9-a8e9-f6ed739c7faf/volumes/microsoft.com~smb/test, user:domain\user, //share_location/fol

[2019-08-26 18:54] #33 closed, assigned to nobody

[2019-08-29 14:58] bbgobie opened #34 "SMB Driver cannot handle special characters in credentials"
**What happened**:
If you try and use a password with a special character like $ in it you will get a permission denied as the $ will evaluate instead of getting passed as part of the password.

**What you expected to happen**:
Successful cifs mount
**How to reproduce it**:
Create a SMB share with access with an account with a password like $somespecial!Stuff#
Mount SMB
**Anything else we need to

[2019-08-29 20:34] bbgobie opened #35 "When mount fails, only last line of mount error log is displayed"
**What happened**:
Invalid options provided to mount
**What you expected to happen**:
Error message with complete error message from mount -t cifs
**How to reproduce it**:
As an example, try and mount an invalid source "//wrong_ip/wrong_folder/wrong_path"
**You will get an error like this**

  Warning  FailedMount       1s (x5 over 10s)   kubelet, vm  MountVolume.SetUp failed for volume "storage"

[2019-09-06 03:29] andyzhangx commented on #34
/assign

[2019-09-06 06:06] andyzhangx commented on #34
@bbgobie would you use `\$somespecial\!Stuff#` instead? `$!` does not work in `echo` command, you could verify your password parsing by running:
[code]
if `echo` command works well, then your password could be parsed in the smb plugin

[2019-09-06 07:28] andyzhangx commented on #24
close this issue since `dysk` driver is deprecated

[2019-09-06 07:28] #24 closed

[2019-09-16 04:01] xudifsd opened #36 "Unexpected mount failure"
**What happened**:
I was trying to use this driver to do azure blob mount, I followed instructions from [here](https://github.com/Azure/kubernetes-volume-drivers/tree/master/flexvolume/blobfuse), but failed to start `nginx-flex-blobfuse` in the end. I have checked log from `/var/log/blobfuse-driver.log`:

[code]

blobfuse-flexvolume is:

[code]

**What you expected to happen**:
`nginx-flex-blobfus

[2019-09-16 13:37] andyzhangx commented on #36
could you remove `sudo` and try again:
[code]

One possible reason is that your cluster is running on Ubuntu 18.04, we have not tested on that version.
BTW, how did you set up such k8s cluster? By aks-engine? @xudifsd

[2019-09-17 07:07] xudifsd commented on #36
@andyzhangx Still same output:
[code]

I used my own script to copy kubelet binary to setup k8s cluster.

I think this may be problem of version not matching? Since log displaying `Mon Sep 16 03:50:30 UTC 2019 EXEC: blobfuse /var/lib/kubelet/pods/d6b429ed-96bb-4e9c-b0f7-1933eac38875/volumes/azure~blobfuse/test --container-name=dixu-test --tmp-path=/tmp/blobfuse/ -o allow_other  --file-cache-timeou

[2019-09-17 07:33] andyzhangx commented on #36
that could be the issue, at least your kubelet version should match controller manager version

[2019-09-17 08:07] xudifsd commented on #36
@andyzhangx my kubelet version is also v1.15.2. I meant blobfuse version may not match driver's version. I install blobfuse using `kubectl apply -f https://raw.githubusercontent.com/Azure/kubernetes-volume-drivers/master/flexvolume/blobfuse/deployment/blobfuse-flexvol-installer-1.9.yaml
`.

[2019-09-17 08:19] andyzhangx commented on #36
`blobfuse-flexvol-installer-1.9.yaml` only install blobfuse flexvol driver, and the blobfuse binary should be installed by yourself. To try blobfuse on your agent node, you could run:
[code]

And also could you share your exact config, there could be something wrong in your config, e.g. unexpected char.

[2019-09-17 08:35] #36 closed

[2019-09-19 11:26] bbgobie commented on #34
This does work for me, thanks!

[2019-09-19 11:26] #34 closed

[2019-09-19 13:59] tam203 opened #37 "Writable blobfuse mounts cause pods to fail to start and become un-deletable"
**What happened**:

When creating a pod with writable blob fuse mount the container won't start with errors like `Unable to mount volumes for pod... list of unmounted volumes=[MY_WRITE_MOUNTED_BLOB-CONTAINER]...`

Here is an example from a describe on the pod. Note this is a complicated pod (we are using this in a Jupyter Hub environment) with multiple mounts, including multiple read only blobfuse

[2019-09-19 14:31] andyzhangx commented on #37
There should be `azure-cni-networkmonitor-xxx` under `kube-system` namespace, could you copy out `/var/log/blobfuse-driver.log` from `aks-default-71061816-vmss000000` node:
[code]

[2019-09-19 14:42] andyzhangx commented on #37
and there could be race condition issue since you are using different azure storage accounts, could you remove this and try again:
[code]

[2019-09-19 14:44] tam203 commented on #37
Thanks @andyzhangx but I can't find that pod.

[code]

[code]
No results for the above.

I'm not able to access the master if that makes a difference:

[code]

[2019-09-19 14:48] andyzhangx commented on #37
[code]

[2019-09-19 14:58] tam203 commented on #37
@andyzhangx - thanks. Looking at the above examples `2019-09-19T09:47:47Z` looks like the time I created the failing pod.

[code]

[2019-09-19 15:00] tam203 commented on #37
I can't see anything obvious in there but I'm not an expert. I'm going to kill that pod the redeploy the failing version of the pod only to simplify the log and see what happens.

[2019-09-19 15:03] andyzhangx commented on #37
It's due to the race condition issue:
[code]

I think current workaround is all blobfuse flexvolume on same pod use the same storage account, since you are using 2 storage accounts, that's the reason why sometimes it failed.

I will add mutex lock in the driver code and publish a new release.

[2019-09-19 15:06] tam203 commented on #37
Ok fab. That would explain why it used to work (before using an extra account). Thanks!

[2019-10-21 17:21] omyno opened #38 "timeout expired waiting for volumes to attach or mount"
**What happened**:
Mounting manually on the host works fine.

Creating the example pod results in:

`docker logs kubelet`:

exvol" err=no volume plugin matched

**Environment**:
- Kubernetes version (use `kubectl version`): `Server Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.6", GitCommit:"96fac5cd13a5dc064f7d9f4f23030a6aeface6cc", GitTreeState:"clean", BuildDate:"2019-08-19T11:

[2019-10-22 12:07] abelal83 opened #39 "azure disks in different subscription"
**Is your feature request related to a problem? Please describe.**
We have a requirement to charge back users of kubernetes resources, for storage we create disks in the users owened azure resource group using the method described here https://github.com/Azure/AKS/issues/873. However, not all the resource groups are in the same subscription as AKS so unable to get AKS to auto provision using a cla

[2019-10-22 12:19] andyzhangx commented on #38
it said: `no volume plugin matched`

have you installed smb plugin by:
https://github.com/Azure/kubernetes-volume-drivers/tree/master/flexvolume/smb#option1-automatically-install-by-k8s-daemonset

Note: You may replace /etc/kubernetes/volumeplugins with /usr/libexec/kubernetes/kubelet-plugins/volume/exec/(by default) in install-smb-flexvol-ubuntu.sh if it's not a Kubernetes cluster created by AKS

[2019-10-24 14:06] omyno commented on #38
Thanks for your reply, replacing the directory for volumeplugins did the trick.

[2019-11-27 11:17] vbrinza commented on #27
+1

[2019-11-27 11:20] andyzhangx commented on #27
if you mean blobfuse driver, we already support read sas token from azure keyvault in blobfuse csi driver:
https://github.com/csi-driver/blobfuse-csi-driver/blob/master/docs/read-from-keyvault.md

[2019-11-27 11:21] #38 closed

[2019-11-27 12:37] vbrinza commented on #27
@andyzhangx I am using the https://github.com/Azure/kubernetes-volume-drivers/tree/master/flexvolume/blobfuse

[2019-11-27 12:43] andyzhangx commented on #27
new features will only be implemented in csi driver

[2019-11-27 12:46] andyzhangx commented on #25
close this since dysk driver is deprecated

[2019-11-27 12:46] #25 closed

[2019-11-27 12:46] andyzhangx commented on #6
close this since dysk driver is deprecated

[2019-11-27 12:46] #6 closed

[2019-11-27 12:47] andyzhangx commented on #1
close this since dysk driver is deprecated

[2019-11-27 12:47] #1 closed

[2019-12-19 01:40] keerthiadu opened #41 "AZURE_STORAGE_BLOB_ENDPOINT is not set/populated when calling blobfuse"
**Is your feature request related to a problem? Please describe.**
blobfuse now supports an environment variable [AZURE_STORAGE_BLOB_ENDPOINT ](https://github.com/Azure/azure-storage-fuse/blob/09a7f54fc82476819849c742d3bc3f5f6204201e/README.md#environment-variables)

This AZURE_STORAGE_BLOB_ENDPOINT is needed when [using a blob from sovereign clouds]( https://github.com/Azure/azure-storage-fuse/wi

[2019-12-19 04:56] andyzhangx commented on #41
blobfuse v1.1.1 already supports customized AZURE_STORAGE_BLOB_ENDPOINT:
https://github.com/Azure/azure-storage-fuse/blob/v1.1.1/blobfuse/blobfuse.cpp#L79
I would work out a new flexvol driver to support customized AZURE_STORAGE_BLOB_ENDPOINT
Point is we need to write a k8s daemonset to upgrade the built-in (blobfuse v1.0.3) to latest blobfuse v1.1.1

[2019-12-20 06:26] andyzhangx commented on #41
fixed by https://github.com/Azure/kubernetes-volume-drivers/pull/42

[2019-12-20 06:26] #41 closed

[2019-12-20 06:39] andyzhangx commented on #28
fixed by https://github.com/Azure/kubernetes-volume-drivers/pull/42 on `mcr.microsoft.com/k8s/flexvolume/blobfuse-flexvolume:1.0.11`

[2019-12-20 06:39] #28 closed

[2020-01-15 19:40] HippyRock opened #43 "Files get copied with Archive and Hidden flags added (xattrs)"
Hi, I have syncthing running in Kubernetes and I use your dirver (latest version) to sync files into my FreeNas SMB share. Some reason files get copied with Archive and Hidden flags added. Did anyone noticed something like that before?
Please see my [original post](https://www.ixsystems.com/community/threads/windows-doesnt-see-pictures-synced-with-syncthing-via-smb-share.81144/#post-564516) on Fre

[2020-01-16 03:39] andyzhangx commented on #39
it's not supported, not in our road map, not sure whether ARM VM would support cross-subscription feature.

[2020-01-16 06:36] abelal83 commented on #39
That's a shame 🙁

MS provide various models for azure billing/organising, one being subscription per team. Without support for cross subscription resources, keeping track of costs has become too hard to manage. I appreciate there is no road map for this which does leave us in a difficult position.

We've tried storage accounts but are extremely slow in comparison to disks. Are there any other alte

[2020-01-27 14:27] szinck1 opened #44 "Error mounting blob storage inside Kubeflow Notebook"
I'm attempting to mount blob storage inside a Kubeflow Jupyter Notebook.  I extend the yaml that creates the Notebook (a Custom Resource) and I get the following error... the same config works fine for a regular Pod.  I'm having trouble tracking down where the error message `MountVolume.SetUp failed for volume "test" : mount command failed, status: Failure, reason: validation failed, error log:con

[2020-01-27 15:34] andyzhangx commented on #44
Your indent could be wrong, it should be:
[code]

another possible root cause: `jq` package is not installed on your agent node.

[2020-01-27 15:36] andyzhangx commented on #44
btw, I would suggest you to use bobfuse CSI driver:
https://github.com/csi-driver/blobfuse-csi-driver
Original blobfuse flex volume driver is now in maintenance mode.

[2020-01-27 17:02] szinck1 commented on #44
Thanks.. I've uninstalled the flux driver and installed the CSI driver.
What is supposed to be in `volumeHandle`? The default is ` volumeHandle: arbitrary-volumeid` which doesn't work. The code looks to me like it's supposed to be "#resourcename#pvname" but that isn't working for me either.

`62s         Warning   FailedMount              pod/nginx-blobfuse                   MountVolume.MountDevic

[2020-01-28 01:46] andyzhangx commented on #44
if your service principal has access to the storage account, you could try this azure disk storage class:
https://github.com/kubernetes-sigs/blobfuse-csi-driver/blob/master/deploy/example/storageclass-blobfuse-csi-existing-container.yaml

[2020-01-28 03:45] andyzhangx commented on #44
and back to your original error, I think you did not set secret correctly, pls
 - follow this guide to install
https://github.com/kubernetes-sigs/blobfuse-csi-driver/blob/master/docs/install-csi-driver-v0.4.0.md
 - follow this guide to use csi driver
https://github.com/kubernetes-sigs/blobfuse-csi-driver/blob/master/deploy/example/e2e_usage.md#dynamic-provisioning-create-storage-account-and-contai

[2020-01-28 18:31] szinck1 commented on #44
Using the SP works, however I wasn't able to get the CSI driver working with a secret.

[2020-01-28 19:13] szinck1 commented on #44
SP works in the same RG that Kubernetes is running in, but not in another resource group. Are there any constraints in terms of RG location? Are more permissions beyond "Storage Contributor" required for the SP?

[2020-01-29 04:33] andyzhangx commented on #44
Could you use `nodeStageSecretRef` in PV config, there is a breaking change in master branch, need to update the doc:
[code]

If your SP has access to other RG, then it should also work.
"Storage Contributor" related permissions should be granted to your SP.

[2020-01-29 15:29] andyzhangx commented on #44
FYI. https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/161 fixed the PV config doc issue.

[2020-01-30 14:36] szinck1 commented on #44
I'm using blob not file storage. Is this still relevant?

[2020-01-30 14:45] andyzhangx commented on #44
yes, blobfuse should also use `nodeStageSecretRef`, related doc PR: https://github.com/kubernetes-sigs/blobfuse-csi-driver/pull/108

[2020-01-31 17:18] szinck1 commented on #44
@andyzhangx

Based on my experimenting, it seems that the Resource Group and Storage Account need to be in the same region as Kubernetes.  It also needs to be in the same subscription (maybe not surprising, but it tripped me up because I didn't realize the storage account I was given was in a diff subscription)

I'm also `nodeStageSecretRef` and I'll go back and test using the SP soon.

Thanks for

[2020-02-02 03:05] #44 closed

[2020-02-06 14:14] andyzhangx commented on #27
here is the tracking issue in blobfuse csi driver: https://github.com/kubernetes-sigs/blobfuse-csi-driver/issues/109

[2020-03-30 14:31] seth-gld opened #45 "Node unable to communicate with windows file share after unscheduled pod deletion"
**What happened**:

Connecting to a windows file share using SMB3 from Linux AKS and works great initially. Have 3 nodes with multiple pods in each that all mount to the same windows file share. On a few occasions after it has been up for a few days and a pod has been deleted through the kubernetes dashboard, all pods running on that node are no longer able to connect to the windows file share. Ex

[2020-03-30 14:35] andyzhangx commented on #45
it's nothing related to windows, right? all agent nodes are Linux node, right?

[2020-03-30 14:39] andyzhangx commented on #45
since you are using AKS, why do you not use azure file driver directly? here is the doc: https://docs.microsoft.com/en-us/azure/aks/azure-files-dynamic-pv

[2020-03-30 14:41] andyzhangx commented on #45
and is this issue reproable? I guess there is sth wrong with smb client, the driver itself unmount the file share when you delete the pod:
https://github.com/Azure/kubernetes-volume-drivers/blob/f59d954264b67e632d6bec5b6512ccc45ddc4d81/flexvolume/smb/deployment/smb-flexvol-installer/smb#L83

[2020-03-30 15:19] seth-gld commented on #45
Yes, it is a Linux nodepool. All the nodes are linux, it is only the file share that is hosted on Windows.

We actually started of with this and the share was in Azure Files but then there were some legacy requirements that required the file share to have two way replication with an off site windows 2000 server. So, we have an SMB share on a Windows Server that is replicating where it needs to.

I

[2020-03-30 15:32] andyzhangx commented on #45
as you could see, all mount points are independent.
Is this issue reproable?

[2020-03-31 07:58] seth-gld commented on #45
Sorry, been trying to reproduce but so far unable to find the right combination to trigger it. Will continue to try and when see it again will put on that extra logging. You changed the title to 'communicate with azure file share' but it is not an azure file share that it is trying to communicate with. It is is a Windows File Share using SMB3.

[2020-04-02 08:28] seth-gld commented on #45
Happened again on main cluster and then was able to reproduce in another cluster. Was able to reproduce using helm deployment, especially when just cancelling deployment midway through.

This is OS being used for cluster:
Publisher: microsoft-aks
Offer: aks
SKU: aks-ubuntu-1604-202001
Version: 2020.01.10

Turned on the logs as mentioned in that linked article and got this in logs:
[code]

[2020-04-03 01:00] andyzhangx commented on #45
The logs looks like network connection died (“ECONNRESET”, error 104) then reconnect, then echo requests time out, more reconnects etc.   Probably would be helpful to look at the server logs to see what happened on the server side.

Although this older 4.15 kernel doesn’t have some important reconnect fixes, it still looks more like the network connection hung and reconnect hitting issues with req

[2020-04-03 10:55] akahub opened #46 "DFS Suppot"
How would this driver behave with a windows DFS file system? Will it be failover 'aware' ?
We are planing on using this driver on our on-prem IaaS

Would be great if this was supported.

[2020-04-03 12:03] andyzhangx commented on #46
hi @akahub are you going to use smb driver? smb driver is only using cifs client on agent node, not user whether it's failover aware, and I don't have knowledge about windows DFS file system.

[2020-04-03 13:18] seth-gld commented on #45
Thanks for your help Andy I will have a look on the server side.

[2020-04-03 14:45] seth-gld commented on #45
So looking in the server logs, can see that the windows server is seeing an anonymous access request. Almost as though the reconnect is not sending the credentials again :

"The server denied anonymous access to the client.

Client Name: \\10.24.10.195
 Client Address: 10.24.10.195:35764
Session ID: 0x0

Guidance:

You should expect this error when a client attempts to connect to shares and does n

[2020-04-03 15:16] seth-gld commented on #45
I thought by maybe updating the AKS version and nodepool version as was on 1.15.7 and latest version is 1.16.7. However, kernel is still 4.15 in 1.16.7: '4.15.0-1071-azure' (uname -r)

[2020-04-06 10:19] seth-gld commented on #45
Switched from SMB  3.0 to SMB 2.1 and am yet to be able to reproduce. Will make sure doesn't appear for couple more days and if not, will close.

[2020-04-06 12:32] andyzhangx commented on #45
do you mean switch to use `ver=2.1` in mount options?

[2020-04-06 12:33] seth-gld commented on #45
Sorry, yes, that is exactly what I have done.

[2020-04-08 10:10] akahub commented on #46
Hi, DFS has a layer of abstraction from the client perspective. With DFS you create a share using the domain name layer as the namespace i.e. \\domain.local\public\share1\ this can point to redundant replicas which hold the actual shares i.e \\FS1\share1 and \\FS2\Share1 . DFS has the ability to setup an order on the client machine and refer them to the second server in the even of file server out

[2020-04-13 15:06] giggio opened #48 "CSI driver for SMB"
**Is your feature request related to a problem? Please describe.**
Yes, we would like to use the new CSI driver.
As flexvolume [is deprecated](https://github.com/kubernetes/community/blob/master/sig-storage/volume-plugin-faq.md) we don't want to invest on it.

**Describe the solution you'd like in detail**
A CSI driver for smb.

**Describe alternatives you've considered**
Flexvolume, but it is dep

[2020-04-13 15:13] andyzhangx commented on #48
a new SMB CSI driver for on-premise and that does not provide dynamic provisioning?
there is already a new azure file CSI driver: https://github.com/kubernetes-sigs/azurefile-csi-driver

[2020-04-13 15:15] giggio commented on #48
Exactly, for on premises.

[2020-04-23 14:56] andyzhangx commented on #48
the functionality is actually  subset of https://github.com/kubernetes-sigs/azurefile-csi-driver since it won't need dynamic provisioning, I am planning to create a new project, e.g. `smb-csi-driver`, put it under https://github.com/kubernetes-sigs/ finally.
The CSI driver https://github.com/kubernetes-sigs/smb-csi-driver would work on both linux and windows node, and it only provides static provi

[2020-04-23 15:00] giggio commented on #48
Yes, that is ok!

[2020-04-27 04:47] Dhiraj240 commented on #48
@giggio @andyzhangx I would like to work this summer on this project. May I know how to start it.
Can you assign me an issue? also, during further days I would contribute and in that do I need to ask on the issues to get it assigned and then work.

[2020-04-27 04:55] andyzhangx commented on #48
@Dhiraj240 thanks, I will create a new project first. Most of the project code in https://github.com/kubernetes-sigs/azurefile-csi-driver would be in https://github.com/kubernetes-sigs/smb-csi-driver.
In the meantime, would you pick up some work items first to warm up? thanks
https://github.com/kubernetes-sigs/azurefile-csi-driver/labels/help%20wanted

just ping my slack: andyzhang @kubernetes if

[2020-04-27 05:01] Dhiraj240 commented on #48
@andyzhangx Alright I will pick up randomly and try to submit PR once I build project on my local system.
Will ping you in slack for all things now.
Thanks.

[2020-04-27 05:40] Dhiraj240 commented on #48
Also, May I know for CSI driver project @ZeroMagic is again going to participate

[2020-04-29 09:25] Abel-Liu opened #50 "Failed to connect to the storage container"
**What happened**:

blobfuse report error:

Failed to connect to the storage container. There might be something wrong about the storage config, please double check the storage account name, account key and container name. errno = 403

**What did I do**:

I have installed via ```kubectl apply -f https://raw.githubusercontent.com/Azure/kubernetes-volume-drivers/master/flexvolume/blobfuse/deployment

[2020-04-29 09:32] andyzhangx commented on #50
add one more export command for azure china:
[code]

[2020-04-29 09:33] andyzhangx commented on #50
and for flexvolume driver, you should create secret, e.g.
[code]

[2020-04-29 09:45] Abel-Liu commented on #50
I add AZURE_STORAGE_BLOB_ENDPOINT but still not working.

[2020-04-29 09:50] andyzhangx commented on #50
can you run "blobfuse --version", only version > 2.0 would work on Azure China.

[2020-04-29 09:58] Abel-Liu commented on #50
blobfuse version is 1.0.3.

Do we have k8s deploy yaml or docker image that install version above 2.0?

[2020-04-29 10:00] andyzhangx commented on #50
try this: https://github.com/Azure/azure-storage-fuse/wiki/1.-Installation#option-1---install-from-aptyum-package-repositories

[2020-04-29 10:21] Abel-Liu commented on #50
It works! Thanks a lot.

[2020-04-29 11:02] #50 closed

[2020-05-08 22:06] shicholas opened #55 "version 1.0.3 broke our SMB FlexVolume mount"
**What happened**:

We have the SMB FlexVolume mount installed as a DaemonSet in our AKS Kubernetes Cluster. In our spec, we had the following:

[code]

When creating new nodes in our cluster, the daemonset pulled the latest version of the SMB Image, which as of yesterday was `1.0.3`. This broke our environment with the following error when starting new containers:

[code]

**What you expected to

[2020-05-09 03:18] andyzhangx commented on #55
not sure why the driver is broken on your AKS cluster, I tried on mine, it works well. Anyway, I guess there is sth. wrong with the `mount.cifs` installation, this issue should be fixed by https://github.com/Azure/kubernetes-volume-drivers/pull/56

I have updated 1.0.3 version, should work now.

[2020-05-09 03:18] #55 closed

[2020-05-11 01:06] andyzhangx commented on #48
Update: here is the initial working SMB CSI driver:
https://github.com/csi-driver/csi-driver-smb
Will migrate to https://github.com/kubernetes-csi/csi-driver-smb after a while

[2020-06-06 06:14] andyzhangx commented on #39
actually there is VHD disk on azure file solution: https://github.com/kubernetes-sigs/azurefile-csi-driver/tree/master/deploy/example/disk, it's unmanaged disk solution, while for managed disk, we don't support cross-subs

[2020-06-06 06:14] #39 closed

[2020-06-09 14:20] giggio commented on #48
It looks like we have a release. We'll try it out. https://github.com/kubernetes-csi/csi-driver-smb/releases/tag/v0.1.0

[2020-06-09 14:25] andyzhangx commented on #48
really fresh release... I am trying to set up the e2e test pipeline on that project.

[2020-06-10 14:26] mikemonteith opened #58 "`mkdir /tmp/blobfuse` on node required for working installation"
**What happened**:

I followed the README instructions to install blobfuse on kubernetes (AKS).

My pod would not start due to errors
[code]

I followed the troubleshooting guide by inspecting the node logs with `tail -f /var/log/blobfuse-driver.log`

[code]

After some investigation, I found that the /tmp/blobfuse directory didn't exist and it needed to be created.

After running `mkdir /tmp/blob

[2020-06-11 03:11] andyzhangx commented on #58
correct, blobfuse `1.2.3` is breaking, to mitigate this issue, I think we could `mkdir /tmp/blobfuse` in our flexvolume blobfuse driver side

[2020-06-11 08:36] playersons opened #59 "container not starting, error in kubelet "Failed to mount device /dev""
**What happened**:
Pod is not starting up, I am seeing errors as below:

on the node /var/log/blobfuse-driver.log :
[code]
kubectl describe show this output:
[code]
In my case, too, /tmp/blobfuse did not exist and I created it manually on all nodes.

PV and PVC are created as required:
[code]
**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environ

[2020-06-11 08:37] andyzhangx commented on #59
same issue as https://github.com/Azure/kubernetes-volume-drivers/issues/58

[2020-06-11 08:42] playersons commented on #59
Except for the fact, that the reporter of issue #58 was able to get it working. In my case, creating the host volume did not help.

[2020-06-11 08:47] andyzhangx commented on #59
I would suggest use https://github.com/kubernetes-sigs/blobfuse-csi-driver, this flexvolume driver is now in maintenance mode since we are switching to csi driver.

[2020-06-11 08:53] playersons commented on #59
I'd love to do that but I've read that the status for the csi driver is beta. Do you have any timeline for this to change? We have policies in place that keep us from using beta flagged software.

[2020-06-11 15:15] #58 closed

[2020-06-11 15:32] andyzhangx commented on #58
this issue is fixed by `blobfuse-flexvolume:1.0.13`, try with
[code]

[2020-06-11 15:35] andyzhangx commented on #59
GA time for blobfuse CSI driver could be late this year.
For this flexvolume issue, follow troubleshooting tips here: https://github.com/Azure/kubernetes-volume-drivers/tree/master/flexvolume/blobfuse#tips

[2020-06-12 02:51] rbtcollins opened #62 "Where is the Dockerfile for "andyzhangx/local-volume-provisioner" please"
**What happened**:

Wanted to built a custom image to test different cleaner configurations, and realised that there doesn't seem to be a repository / dockerfile for the image for the local static provisioner image.

**What you expected to happen**:

There should be a published source repository for the image. None is listed https://hub.docker.com/r/andyzhangx/local-volume-provisioner either.

**H

[2020-06-12 03:01] andyzhangx commented on #62
use master branch should be ok since it has the key PR: https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/pull/187, you could find Dockerfile here: https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner, run following command to build a container:
[code]

I will make up a new image under `mcr.microsoft.com` later, thanks for remindar.

[2020-06-13 01:50] #62 closed

[2020-06-13 01:50] andyzhangx commented on #62
it's done, try latest yaml files, thanks.

[2020-06-13 10:41] rbtcollins commented on #62
thank you

[2020-06-14 15:43] playersons commented on #59
after rebuild from scratch, driver is working as expected. can’t reproduce error any more. must have been something odd on the first try.

[2020-06-15 01:09] #59 closed

[2020-06-18 14:46] playersons opened #65 "how to solve: single storageaccount/single container/multiple pods in multiple namespaces"
I am trying to get multiple pods (different services) in two different namespaces to use the same storage account and storage container. So far, no luck. The first PV, PVC and Pod is starting fine, no problem. But I can't handle the second one. To my understanding, I have to use one or more PVC bound to a single PV, but this does not work over namespaces, right?
When I try to add a second PV and a

[2020-06-18 23:49] andyzhangx commented on #65
I would suggest switch to use blobfuse csi driver, it should work well: https://github.com/kubernetes-sigs/blobfuse-csi-driver/blob/master/deploy/example/storageclass-blobfuse-csi-existing-container.yaml

[2020-06-19 10:04] rbtcollins commented on #62
FYI this is the thing I wanted to fix - https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/pull/200; 15 seconds or so to discard a 210G partition on a L8sv2 VM, vs 20m or more with the shred example in your example https://github.com/Azure/kubernetes-volume-drivers/blob/master/local/local-pv-provisioner-nvmedisk.yaml

[2020-06-19 11:59] andyzhangx commented on #62
thanks, I have updated image `mcr.microsoft.com/k8s/local-volume-provisioner:v2.3.5-alpha` with latest master branch(including your PR)

[2020-06-20 07:31] playersons commented on #65
I could work around the mount issue by connecting each pod directly with the flexvolume driver instead of using pv/pvc method.
Now I am wondering, if I‘ll run into other issuess when multiple pods (from one replica set) will use the same `tmppath`.
I really would like to avoid putting each pod in its own replica set, but am unsure if sharing a tmppath is possible at all.

Thank you for your valued

[2020-06-20 07:39] andyzhangx commented on #65
you should not share the tmppath for two pods on the same node, it would have conflict. I think use two separate PV/PVCs should work.  What's your config and error message?

Also I would suggest switch to use blobfuse csi driver, it could support deployment, statefulset, here is an example: https://github.com/kubernetes-sigs/blobfuse-csi-driver/blob/master/deploy/example/statefulset.yaml

[2020-06-20 08:30] playersons commented on #65
Thank you for your reply. So, basically I would have to have multiple PV per storageaccount/container and would assign each pod its own PVC to access blobfuse, right? This means I can’t avoid to have a replicaCount of 1 per deployment/replicaSet, right?

[2020-06-20 08:47] andyzhangx commented on #65
You could use PV1/PVC1, PV2/PVC2, and PV1 & PV2 use same storage account/container, that should work

[2020-06-20 13:04] playersons commented on #65
Thank you for your sharing, one last question, though. Would you prefer PV/PVC or direct Pod-flexvolume connection, I am unsure about pros and cons for both methods here.

[2020-06-20 13:06] andyzhangx commented on #65
depends on your usage, direct Pod-flexvolume connection is more easier to configure, while if you want to use one PVC in multiple pods, you should use PV/PVC.

[2020-06-20 13:06] #65 closed

[2020-06-24 02:38] Binyang2014 opened #66 "Pods which mounted to the same Azure-Blob(using flex volume) can not run on the same node"
**What happened**:

Using blob flex volume. Create PV and PVC for the blob storage. When two pod using same PVC scheduled to the same node. One pod will mount blob storage successfully, another will failed. Error is: `Error: temp directory '/tmp/blobfuse' is not empty. blobfuse needs an empty temp directory`.
I think it caused by blob flex volume using the same `temp dir` for all pods.

**What you

[2020-06-24 03:39] andyzhangx commented on #66
could you use different `tmppath` on different PV? what's your flex volume driver version, is it on 1.0.13?

[2020-06-24 05:18] Binyang2014 commented on #66
We use flex volume which is version  is 1.0.11. But master branch seems still has this issue. https://github.com/Azure/kubernetes-volume-drivers/blob/3f77fd816170083b2575af5858eb3b47368c7f65/flexvolume/blobfuse/deployment/blobfuse-flexvol-installer/blobfuse#L58

Sure, we can use different `tmppath` on different PV.  But we don't want to create a new PV for each Pod.  If two pods consume the same P

[2020-06-24 06:03] andyzhangx commented on #66
This issue should be by design on blobfuse v1.2.3, pls clean up `tmppath` in initContainer first or specify a non-existing `tmppath`, blobfuse flexvolume driver would make  tmppath for user.

[code]

[2020-06-24 06:03] #66 closed

[2020-06-24 06:09] andyzhangx commented on #66
if two pods are scheduled on same node, then it may have same issue. This is a restraint of current blobfuse flexvolume driver, we suggest user to use blobfuse CSI driver instead:  https://github.com/kubernetes-sigs/blobfuse-csi-driver

[2020-06-24 06:17] Binyang2014 commented on #66
Thanks for reply, I want to know if blobfuse flexvolume will be deprecated in future? And want's the official suggestion about blobfuse flexvolume and blobfuse CSI.  Do we recommend to use blobfuse CSI instead of flexvolume?

[2020-06-24 06:19] andyzhangx commented on #66
This blobfuse flexvolume is in maintenance mode now, we suggest using blobfuse CSI driver instead: https://github.com/kubernetes-sigs/blobfuse-csi-driver

[2020-06-25 03:14] andyzhangx commented on #66
For this issue, there is another workaround, downgrade blobfuse on every agent node to 1.1.1, following command will run a daemonset on every agent node to downgrade blobfuse to 1.1.1
[code]

After daemonset is running on every agent node, you will see the version is downgraded to `1.0.3`(it's a version display bug in 1.1.1, actually it's really `1.1.1`)
[code]

[2020-07-01 11:41] ankurkapoor opened #68 "Failure in mounting PVC for Azure Blob Storage using Blobfuse when scaling out to more than 1 pods in AKS"
**What happened**:
I am using AKS single node cluster to host blob storage mount via blobfuse. There is a reconstruct service that when i run on 1 replica works fine but fails when i am trying to scale it out to any number of pods. During scale out, all pods except 1 fails to start with below error.

MountVolume.SetUp failed for volume "bv-blobfuse-flexvol" : invalid character 'E' looking for begi

[2020-07-07 10:38] sshehata opened #69 "MountVolume.SetUp failed for volume "pv-blobfuse-flexvol" : invalid character 'E' looking for beginning of value"
**What happened**:
Recreating an AKS cluster with an newer version of Kubernetes does not work.
Storage account credentials and container name were working on the cluster before recreating it for the update (Before that cluster has been up for a long time).

**What you expected to happen**:
Successfully mount the azure blob storage container to the pod. Pod should end up in ready state.

**How to

[2020-07-07 12:39] andyzhangx commented on #69
could be related to this issue: https://github.com/Azure/kubernetes-volume-drivers/issues/66#issuecomment-649188681

[2020-07-07 12:53] sshehata commented on #69
I can confirm that the workaround mention here: #66 works.

[2020-07-07 12:56] andyzhangx commented on #69
AKS has already rolled out a fix which would install blobfuse 1.1.1 on agent node, that won't be an issue soon.

[2020-07-07 12:56] #69 closed

[2020-07-07 14:51] SebastienHo opened #70 "Can't install correctly smb-flexvol"
**What happened**:

I intend to install smb-flexvol using th efollowing command :

kubectl apply -f https://raw.githubusercontent.com/Azure/kubernetes-volume-drivers/master/flexvolume/smb/deployment/smb-flexvol-installer.yaml

I have 4 pods created one is in bad state :

![image](https://user-images.githubusercontent.com/3601250/86799237-03c0e780-c072-11ea-9f52-075d694b382c.png)

Can you help me?

[2020-07-07 14:55] andyzhangx commented on #70
looks like there is sth wrong with your cluster. And we suggest using https://github.com/kubernetes-csi/csi-driver-smb

[2020-07-09 12:40] SebastienHo commented on #70
Thanks Andy,

Using the plugin I was able to create the PV and the PVC 👍

![image](https://user-images.githubusercontent.com/3601250/87040730-6f7d8e80-c1f1-11ea-96a0-e8399b30dd77.png)

![image](https://user-images.githubusercontent.com/3601250/87040778-8328f500-c1f1-11ea-8d3e-eec6068529a9.png)

 I am not able to use the volume within a deployment :

[code]

I get the following message

MountVolume

[2020-07-09 12:46] andyzhangx commented on #70
to narrow down the issue, could you ssh to one agent node, and run
[code]
Looks like there is sth wrong with your smb server.

[2020-07-09 12:55] andyzhangx commented on #70
also you can use this way to create a smb server on k8s cluster: https://github.com/kubernetes-csi/csi-driver-smb/tree/master/deploy/example/smb-provisioner, that may narrow down the issue.

[2020-07-10 13:49] mchuegeh opened #71 "Add support for Kubernetes Pod Security Policy"
**Is your feature request related to a problem?/Why is this needed**
We run secure Kubernetes 1.16+ environments where Pod Security Policies (PSP) is required for any Pod to start.

**Describe the solution you'd like in detail**
The helm package include PSP support, including creating the service account under which the installer pod runs as.

**Describe alternatives you've considered**
Manually c

[2020-07-10 13:58] andyzhangx commented on #71
do you have more details? How can I solve this issue?

[2020-07-10 16:07] mchuegeh commented on #71
Here what we did:

1. create a Kubernetes Pod Security Policy that describes the permissions required for the installer, specifically:
       a. it needs access to the following path in the host node:
             i. /var/log/
             ii. the path specified by the 'flexVolumePluginPath' variable, in our case that's /usr/libexec/kubernetes/kubelet-plugins/volume/exec/
      b. it needs access

[2020-07-14 08:10] andyzhangx commented on #71
hi @mchuegeh, we are now moving to https://github.com/kubernetes-csi/csi-driver-smb, do you have time contributing to this project? thanks.

[2020-07-23 15:00] Briah opened #72 "blobfuse "node concurrency" issue"
**What happened**:  When trying to launch multiple pods on Kubernetes that use the same blob fuse mounted volume using flexVolume on Kubernetes I get the following error ` [Warning] MountVolume.SetUp failed for volume "pv-blobfuse" : invalid character 'E' looking for the beginning of value` which is happening only when pods are launched on the same node. And I think this is caused by the fact that

[2020-07-28 10:00] Briah commented on #72
@andyzhangx can you please help with this issue? It's blocking my experiments. Thanks,

[2020-07-28 13:46] andyzhangx commented on #72
same issue as https://github.com/Azure/kubernetes-volume-drivers/issues/69

[2020-07-28 15:47] #72 closed

[2020-07-28 17:23] Johan2W opened #73 "Blobfuse Flexvol high memory consumption"
**What happened**:
I am using AKS to host Azure Machine Learning deployments. Azure Machine Learning installs Blobfuse Flexvol on all nodes and uses it in the pods it deploys.
After a while I noticed on all nodes where pods are using blobfuse, available memory was low. Looking at the processes I noticed the blobfuse process taking up a large amount of memory, increasing over time:
[code]
It doesn'

[2020-07-28 17:27] sauryadas commented on #73
@andyzhangx Does this look normal to you ?

[2020-07-29 03:52] andyzhangx commented on #73
Flexvolume driver is in maintenance mode now, we encourage cx to try blobfuse CSI driver, it may mitigate this issue since one PVC on one node would only have one blobfuse mount, while for flexvolume driver, the num depends on pod num on the node.

[2020-07-31 22:30] sauryadas commented on #73
thanks @andyzhangx how do we test memory consumption over time? is there a tool or capture it through top pods at periodic intervals

@JKrame FYI

[2020-08-01 00:51] andyzhangx commented on #73
you may run "ps" command on agent node to get blobfuse process memory consumption, and save to local env. I am not sure whether there is a tool to do this, you may figure it out.

[2020-08-07 03:07] andyzhangx commented on #73
I would say this is not a short term fix, try NFSv3 protocl on azure blob storage(alpha stage now), it should fix this high memory issue:
https://github.com/kubernetes-sigs/blobfuse-csi-driver/tree/master/deploy/example/nfs

[2020-08-07 18:44] Mr-Howard-Roark opened #74 "smb flex volume plugin volumes timeout when fsGroup is included"
**What happened**:
[This driver](https://github.com/Azure/kubernetes-volume-drivers/blob/a4386b750afd32685e6cc353c206a8c0e583148c/flexvolume/smb/deployment/smb-flexvol-installer/smb) has been working great until I started to include a fsGroup in the Pod spec that uses a pvc that is bound to a pv that is configured to use this driver.  Example of what doesn't work (free written to give the gist of

[2020-08-08 00:35] andyzhangx commented on #74
Blobfuse driver does not honor `fsGroup` securityContext setting, instead user could use `-o gid=1000` in `mountoptions` to set ownership, check [here](https://github.com/Azure/Azure-storage-fuse#mount-options) for more mountoptions.

[2020-08-08 00:38] andyzhangx commented on #74
I am not 100% sure about the `securityContext`, could you add `uid=1000,gid=1000` in your config?
[code]

[2020-08-08 16:52] Mr-Howard-Roark commented on #74
So, the issue I'm running into is Users need to both mount CIFS volumes AND use Pod IAM Roles to access AWS Resources.  I know the latter is probably outside of your knowledge, but what is probably something you understand well is Pod IAM Roles make use of projected service account tokens, and those tokens get mounted as 0600 into people's containers.  So, when their containers don't run as root,

[2020-08-14 15:52] droopy4096 commented on #68
we are seeing very similar behaviour using AKS

[2020-08-15 02:19] andyzhangx commented on #68
The issue is due to same `--tmp-path=/tmp/blobfuse` on the two PVs, pls follow up with the workaround mentioned in https://github.com/Azure/kubernetes-volume-drivers/issues/66#issuecomment-649188681

in long term, pls try [Azure Blob Storage CSI driver](https://github.com/kubernetes-sigs/blob-csi-driver), we also support NFSv3 protocol on latest v0.7.0 version.

[2020-08-15 02:19] #68 closed

[2020-08-24 15:14] ams0 opened #75 "Fail to discover NVMe disks"
**What happened**:

Following https://github.com/Azure/kubernetes-volume-drivers/tree/master/local on a cluster with a 1-node Standard_Lv8s_v2 node, it fails to detect the nvme disk:

[code]

I'm able to format and mount `/dev/nvme0n1` directly on the node

[code]

Also, I had to create the `fast-disks` StorageClass before applying the [manifest for NVMe](https://github.com/Azure/kubernetes-volume

[2020-08-24 15:21] andyzhangx commented on #75
the error said `Skipping file "/dev/nvme0": not a directory nor block device`, so have you already formatted `/dev/nvme0` before running `kubectl apply -f https://raw.githubusercontent.com/Azure/kubernetes-volume-drivers/master/local/local-pv-provisioner-nvmedisk.yaml` ?

[2020-08-24 15:37] andyzhangx commented on #75
wait, `/dev/nvme0n1` should be discovered successfully, right? Since it's using `namePattern: nvme*`
https://github.com/Azure/kubernetes-volume-drivers/blob/4f7291abbec1984ec0f346f9d6f85fdfddfa38e8/local/local-pv-provisioner-nvmedisk.yaml#L18

[2020-08-24 15:38] ams0 commented on #75
My bad, I thought the local provisioned would take care of the formatting (I read that it can form a RAID with multiple nvme devices). My goal is to avoid using a Daemonset to format the disk or worse accessing the node directly. Do you know if it’s possible, to have the nvme disk formatted? Thanks for the super quick reply!

[2020-08-24 15:48] andyzhangx commented on #75
The solution here(https://github.com/Azure/kubernetes-volume-drivers/tree/master/local) would leverage [sig-storage-local-static-provisioner](https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner) running as a DaemonSet to discover and format nvme disk, it won't configure RAID, would create one PV per disk. That's the way how it works, if we don't use a daemonset to format a disk

[2020-08-24 17:02] ams0 commented on #75
Indeed, you're right, some mechanism must format the disk before being used by the local volume driver. I just thought that perhaps some of the scripts here: https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/tree/78a6f6e547099939019fec41c77d2727cd5e6f5e/deployment/docker/scripts could format the device before using it, or it's a functionality that can be added to `mcr.microso

[2020-08-24 19:50] ams0 commented on #75
I created this issue to have `nvme-cli` installed on the base images in AKS: https://github.com/Azure/AKS/issues/1818 and made this repo to prepare the disks for use: https://github.com/ams0/aks-nvme-ssd-provisioner

[2020-08-25 02:59] andyzhangx commented on #75
@ams0 `mcr.microsoft.com/k8s/local-volume-provisioner:v2.3.5-alpha` is actually master branch build of https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner which contains https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/pull/187, once sig-storage-local-static-provisioner published a new release, will use that image. So I would suggest use official sig-stor

[2020-08-25 07:40] andyzhangx commented on #75
To fix the above error msg, if you could make sure you have only one NVMe disk, set `namePattern: nvme0*` in the config file, below is a sample output on `Standard_L16s_v2` which has two NVMe disks:

[code]

[2020-08-25 19:30] ams0 commented on #75
I made this https://github.com/ams0/aks-nvme-ssd-provisioner/blob/master/manifests/storage-local-static-provisioner.yaml to use an `initContainer` to initialize the disks, so I'm happy :) thanks for your help, this can be closed.

[2020-08-25 19:30] #75 closed

[2020-09-04 03:35] andyzhangx commented on #41
It's better use `1.2.4` to support Azure China cloud

[2020-09-28 06:23] xiaolul opened #77 "Same as issue #7 Mounting BlobStorage Shows `AccountName is empty`"
**What happened**:
Try to setup per instructions provided in the example, but got error
` ERROR: {"status": "Failure", "message": "validation failed, error log:accountname is empty"}`

**What you expected to happen**:
The blob container mounts to the pod successfully.

**How to reproduce it**:
I follow exactly as the instruction detailed, blobfuse is installed. Credential is definitely provided.

[2020-09-28 06:29] andyzhangx commented on #77
it looks like you have not installed `jq` in your machine: `apt install jq -y`

[2020-09-28 06:29] andyzhangx commented on #77
also we recommend using blob csi driver: https://github.com/kubernetes-sigs/blob-csi-driver

[2020-09-28 14:25] Nwhouse opened #78 "Is ARM64 supported by this project?"
**Is your feature request related to a problem? Please describe.**

**I am trying to mount a SMB share to my Raspberry PI cluster, I have been working on this for several weeks and was hoping this project would provide a solution.**

**Describe the solution you'd like in detail**

Would like to see ARM64 support

**Describe alternatives you've considered**

**Additional context**

[2020-09-28 14:44] andyzhangx commented on #78
I are not sure, does `mount -t cifs ...` command work on ARM64?

[2020-09-28 16:58] Nwhouse commented on #78
It does

[2020-09-28 23:26] xiaolul commented on #77
Thank you the jq is exactly the issue. I closed the issue.

[2020-09-28 23:26] #77 closed

[2020-09-29 00:43] andyzhangx commented on #78
I don't have a ARM64 env, so if you could try on ARM64, and found any issue, just paste details here, thanks. And make sure `jq`, `cifs-utils` tools are installed on the agent node.

[2020-09-29 20:16] ksauce opened #79 "PV not created"
I followed the steps to install local provisioner for K8s on AKS.  Using https://raw.githubusercontent.com/Azure/kubernetes-volume-drivers/master/local/local-pv-provisioner-tempdisk.yaml ,  I attempted to point to an attached data drive that is shown below but no PVs are created

Is there something I am missing to enable this?

NAME    HCTL        SIZE MOUNTPOINT            FSTYPE
sda     0:0:0:0

[2020-09-30 01:15] andyzhangx commented on #79
@ksauce `local-pv-provisioner-tempdisk.yaml` is only for temp disk, which is mounted at `/mnt`, if you want to use data disk, try https://docs.microsoft.com/en-us/azure/aks/azure-disks-dynamic-pv

[2020-09-30 01:34] ksauce commented on #79
The instructions on that page dynamically create a single data disk resource and deploying multiple Pods doesn't work.

I can attach data disks to my VMSS (temp disks are sdb but data disks sdc and mounted under: /host/datadisks/disk1, etc, manually create a PV for each node (using the nodeAffinity:), create the Storage class, PersistentVolumeClaim, and then deploy.  multiple replicas.  Now I can

[2020-09-30 06:35] andyzhangx commented on #79
there is a `namePattern` field, so only `sdb1` disk would be matched.
https://github.com/Azure/kubernetes-volume-drivers/blob/6de8b5322243e09ddcc78c65c96abaf60dc22587/local/local-pv-provisioner-tempdisk.yaml#L18

For azure data disk support, should follow up https://docs.microsoft.com/en-us/azure/aks/azure-disks-dynamic-pv, this local disk solution is only for local temp disk, has local disk limit

[2020-09-30 15:46] ksauce commented on #79
Got it.  thank you

[2020-09-30 15:46] #79 closed

[2020-10-01 05:23] esohailshaikh opened #80 "Unable to attach or mount volumes: unmounted volumes=[test], unattached volumes=[test default-token-l52vd]: failed to get Plugin from volumeSpec for volume "test" err=no volume plugin matched"
Hi

We are currently planning to mount blob storage with AKS, before that we are trying to implement the same on minikube installed on Linux VM but not able to get it to work.

As mentioned in the documentation, I have followed the below steps:

1. Installed blobfuse driver on Linux VM
2. Installed blobfuse as a daemon set
3. create a secret which stores Azure storage account name and account key

[2020-10-01 05:39] andyzhangx commented on #80
you are messing up blobfuse with smb, try this: https://github.com/Azure/kubernetes-volume-drivers/tree/master/flexvolume/blobfuse, and for blobfuse, it's suggested to use CSI driver: https://github.com/kubernetes-sigs/blob-csi-driver

[2020-10-01 06:09] esohailshaikh commented on #80
OK.. understood to use Blobfluse, CSI driver is required. Still, the link which you have mentioned  "https://github.com/Azure/kubernetes-volume-drivers/tree/master/flexvolume/blobfuse", I have followed the same only the errors while running the pod is because of the CSI plugin right? ( Just want to be sure)
Can this be implemented on minikube?

Thank you for your amazing support.

[2020-10-01 06:36] andyzhangx commented on #80
I am not sure whether it works on minikube

[2020-10-01 06:41] andyzhangx commented on #80
as I know, SMB csi driver works on minikube, so blob csi driver could also work on minikube

[2020-10-01 06:44] esohailshaikh commented on #80
Hi Andy

After running the below command to install CSI Drive getting the pod status as Error/Crashloopback  and pending
curl -skSL https://raw.githubusercontent.com/kubernetes-sigs/blob-csi-driver/v0.9.0/deploy/install-driver.sh | bash -s v0.9.0 --

`"Warning  FailedScheduling  29s (x2 over 29s)  default-scheduler  0/1 nodes are available: 1 node(s) didn't have free ports for the requested pod po

[2020-10-01 06:45] esohailshaikh commented on #80
![image](https://user-images.githubusercontent.com/70631439/94776644-b8ec0d00-03df-11eb-9926-a0c2e5d8b88a.png)

[2020-10-01 06:48] andyzhangx commented on #80
Blob CSI driver needs azure credential file, make sure you have configured it correct: https://github.com/kubernetes-sigs/blob-csi-driver#prerequisite

Here is the way about how to troubleshooting the driver crash:
https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/docs/csi-debug.md#case1-volume-createdelete-issue

[2020-10-06 04:38] #80 closed

[2020-10-08 08:17] ingeknudsen opened #81 "Problems with blobfuse FlexVolume driver for Kubernetes on AKS v1.18.x"
**What happened**:

We are investigating adding a feature to mount of blob storage on our platform built on top of Kubernetes running on AKS. Following the guide:
https://github.com/Azure/kubernetes-volume-drivers/tree/master/flexvolume/blobfuse

This works perfectly on AKS 1.17.11, 1.17.9, 1.16.15 and 1.16.13 (versions available on the portal). However, on 1.18.8 and 1.18.6 there is no files in t

[2020-10-08 08:31] andyzhangx commented on #81
could you `kubectl-enter` the node, and check `blobfuse --version`? I think it's due to higher blobfuse version. downgrade to 1.1.1 version may help:
[code]

also is it possible to use https://github.com/kubernetes-sigs/blob-csi-driver?

[2020-10-08 08:33] andyzhangx commented on #81
@NaraVen do you know which blobfuse version bring this breaking change? Thanks.
[code]

[2020-10-08 08:45] ingeknudsen commented on #81
[code]

[2020-10-08 08:57] ingeknudsen commented on #81
On a cluster which this works:

[code]

[2020-10-08 09:09] andyzhangx commented on #81
On my AKS `1.18.6` node, `allow_other` option works:

[code]

[2020-10-08 09:11] andyzhangx commented on #81
To simply workaround, try
[code]

The blobfuse binary is not built-in with `mcr.microsoft.com/k8s/flexvolume/blobfuse-flexvolume:1.0.13` now.

[2020-10-08 09:38] ingeknudsen commented on #81
That did the trick 😄 . Is that a permanent workaround you recommend us doing on every bootstrap of a new cluster, or is this a bug with the 1.18.x version which we should expect to be fixed at some point in time?

[2020-10-23 22:41] supermario66 opened #82 "Blobfuse - tmp-path is not working as expected"
The blobfuse driver is not taking the tmp-path which we are passing through yaml.

Logs:
tmp-path not specified, use default path: /tmp/blobfuse/

We don't see the blobfuse in the /tmp aswell.

[2020-10-28 06:44] andyzhangx commented on #82
we don't map `/tmp` to host now, I think we should map `tmp-path` to `/mnt` by default since `/mnt` is quite fast, WDYT?

https://github.com/Azure/kubernetes-volume-drivers/blob/eab8929e6ae2060d3e16c369e6dce88938f85637/flexvolume/blobfuse/deployment/blobfuse-flexvol-installer-1.9.yaml#L27-L33

[2020-10-28 09:14] FrankCRoth opened #83 "How to specify SPN or MSI for blobfuse FlexVolume"
Hi,

I would like to use authentication type SPN or MSI instead of SAS token or key like described here:
[Azure-Storage-Fuse Authentication Setup](https://github.com/Azure/azure-storage-fuse#valid-authentication-setups).

How would I specify it blobfusecreds secret configuration?

Regards,
Frank

[2020-10-28 12:52] andyzhangx commented on #83
those auth types are only supported by csi driver: https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/deploy/example/storageclass-blobfuse-msi.yaml

[2020-10-28 13:22] FrankCRoth commented on #83
Thx Andy. So it looks like MSI and SPN is supported. But how Do I configure this in blobfuse for FlexVolume? Could you give an example for SPN or MSI.

[2020-10-28 13:25] andyzhangx commented on #83
MSI and SPN is only supported by CSI driver.

try install blob csi driver first:
https://github.com/kubernetes-sigs/blob-csi-driver
and then use storage class:
https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/deploy/example/storageclass-blobfuse-msi.yaml

[2020-10-28 13:35] FrankCRoth commented on #83
Ok, thx. So I guess it would be a feature request. I will switch to CSI driver.

[2020-10-28 14:02] andyzhangx commented on #83
blobfuse flexvol driver is in maintenance mode, we commend using CSI driver instead. Thanks.

[2020-10-28 14:02] #83 closed

[2020-10-29 21:00] Mr-Howard-Roark commented on #74
@andyzhangx as a head's up, it turns out that for flexvolume plugins, a plugin can opt-out of fsgroup based permission changes by returning `FSGroup: false`.  So, I am going to now try adding that here: https://github.com/Azure/kubernetes-volume-drivers/blob/a4386b750afd32685e6cc353c206a8c0e583148c/flexvolume/smb/deployment/smb-flexvol-installer/smb#L71

I realize you worked on this a long time ag

[2020-10-29 21:10] juliohm1978 commented on #45
OMG.

I have been struggling with this exact problem in our baremetal Kubernetes cluster. It's been a pain to diagnose and pin point exactly what the cause of the problem is.

[code]

Our pods use a [custom cifs volume driver](https://github.com/juliohm1978/kubernetes-cifs-volumedriver), and at random periods pods get stuck at ContainerCreating. Pod description indicate the mount error message:

[

[2020-10-29 21:51] bergerx commented on #82
I hope that won't create a conflict with
https://github.com/Azure/AKS/issues/1753.

On Wed 28 Oct 2020, 06:44 Andy Zhang, <notifications@github.com> wrote:

[2020-10-30 20:30] Mr-Howard-Roark commented on #74
Ok so the actual change to make, which I just rolled out is here: https://github.com/Azure/kubernetes-volume-drivers/blob/a4386b750afd32685e6cc353c206a8c0e583148c/flexvolume/smb/deployment/smb-flexvol-installer/smb#L98-L101

You just need to add "fsGroup:": false to the capabilities.  So, it ends up looking like this:
[code]

I effectively mirrored the change here and now everything works great wh

[2020-10-30 21:29] Mr-Howard-Roark commented on #45
That is interesting that you mention the `Host is down` issue @juliohm1978.  We have also run into that in EKS 1.16 with CIFS volumes on some hosts.  In our case we see a RST packet coming from the server, and we haven't been able to determine why it is sending a connection reset.  Based on research, we started to wonder if the CIFS server doesn't like seeing many connections for the same share fr

[2020-10-30 22:03] juliohm1978 commented on #45
We've had this issue come up mostly in testing environments, with only a couple of pods restarting at a time. But it's creeping its way up into Production, and that's concerning.

If you are running into the same problem, I'd assume the RST packet would be sent from the server because it refused to accept the connection from a client that did not send any credentials.

Will post any updates as we

[2020-11-02 08:42] seth-gld commented on #45
Just to give an update, switching to 'ver=2.1' in mount options did not actually work. We ended up creating a daemonset that just every 5 minutes just did an ls on the mount location so that each node was keeping a connection open to the file share. We have not encountered the issue since implementing this:
`
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: daemonset-volume-keepalive
spec:

[2020-11-04 21:02] juliohm1978 commented on #45
Another update:

When the problem appears, an instance of the `/bin/mount` process seems to be stuck in memory. It is possible to list using `ps` and it can be killed using `kill -9`.

Once that problematic `mount` instance is manually killed, the problem seems to go away and a next call from the volume driver goes through without any issues. While that particular instance of the `mount` command i

[2020-11-05 06:05] andyzhangx commented on #45
looks like that's a smb issue itself, e.g. smb client issue or server side setting issue. how did you set up the smb server?

[2020-11-05 12:32] juliohm1978 commented on #45
We haven't. That's another team responsible for the SMB share server, handling all of our Windows installations. We're working with them to try and find something related to the server config itself. But... as medium/large enterprises go, that could take a while.

From the client side, I've compared every possible detail I can think of, from OS settings, versions of installed packages in each node

[2020-11-09 09:42] thewilli commented on #78
.. it seems at least the Docker Image is only build for x86, right @andyzhangx?

This should be mentioned somewhere and you could consider providing a multi-arch Image.

[2020-11-09 13:16] andyzhangx commented on #78
We don't want to support ARM64 for this smb flexvol driver,  instead ARM64 is already supported in SMB CSI driver: https://github.com/kubernetes-csi/csi-driver-smb/pull/140#issuecomment-723960639

[2020-11-09 13:44] #82 closed

[2020-11-09 13:45] andyzhangx commented on #82
fixed by https://github.com/Azure/kubernetes-volume-drivers/issues/82

[2020-11-09 14:09] andyzhangx commented on #74
this issue is fixed in `mcr.microsoft.com/k8s/flexvolume/smb-flexvolume:1.0.4`

[2020-11-09 14:09] #74 closed

[2020-11-09 14:10] andyzhangx commented on #82
this issue is fixed in `mcr.microsoft.com/k8s/flexvolume/blobfuse-flexvolume:1.0.14`

[2020-11-09 14:11] #78 closed

[2020-11-19 19:25] juliohm1978 commented on #45
Quick follow up: I'm working on PR for my cifs volume driver here:

https://github.com/juliohm1978/kubernetes-cifs-volumedriver/issues/25

Basically, the driver will only wait a configurable amount of time before forcibly killing the child mount instance. Hopefully this will prevent any hanging mount instances in memory.

I've been testing a beta version of the driver in our nodes, and so far the

[2020-11-20 02:46] andyzhangx commented on #45
have you tried this CSI driver: https://github.com/kubernetes-csi/csi-driver-smb, not sure whether it could fix that issue, but using CSI driver should be the correct path, I will add a deprecation notice on this driver.

[2020-11-20 03:58] juliohm1978 commented on #45
Thank you!

[2020-11-20 22:37] ggrunin commented on #81
Using blobfuse 1.2.4 fixes this empty mount issue, but leads to problems when pods share the same PV running on the same node.
Error:  FailedMount  ...  MountVolume.SetUp failed for volume ...  : invalid character 'E' looking for beginning of value

[2020-11-21 02:03] andyzhangx commented on #81
already upgrade to blobfuse 1.3.5 in next AKS release: https://github.com/Azure/AgentBaker/pull/439
@ggrunin about your issue, try following workaround(it will install blobfuse `1.3.5` and flexvolume driver `1.0.16`):
[code]

[2020-11-23 19:15] ggrunin commented on #81
@andyzhangx  Thanks! It helped!

[2020-11-24 02:01] #81 closed

[2020-12-01 23:12] clomeli-ms opened #95 "MountVolume.SetUp failed"
**What happened**: I am trying to run blobfuse from a GKE cluster and my pod is notifying me that:

`  Warning  FailedMount       8s (x7 over 40s)     kubelet            MountVolume.SetUp failed for volume "4453dad8-ff00-4cf8-a48b-3d64687a56e9" : invalid character '/' looking for beginning of value`

I have checked my /var/log/blobfuse-driver.log and it says:

`ENV Path: /usr/local/sbin:/usr/local

[2020-12-02 15:19] andyzhangx commented on #95
I think you did not install `jq` package on your agent node, on Ubuntu, run `apt install jq -y`
Does blobfuse work on GKE cluster? does it connect to Azure blob storage?

[2020-12-02 18:56] clomeli-ms commented on #95
Oh yes thank you, I had used apt-get instead and didn't notice it did not install properly. And yes it does work on GKE!

[2020-12-02 19:11] #95 closed

[2020-12-03 01:35] andyzhangx commented on #95
@clomeli-ms is your blobfuse driver connecting to Azure blob storage in GKE cluster? That's quite interesting scenario.

[2021-01-11 16:24] juliohm1978 commented on #45
Some feedback on my side. The problem persists, even with the use of [csi-driver-smb](https://github.com/kubernetes-csi/csi-driver-smb).

[2021-01-12 11:03] andyzhangx commented on #45
@juliohm1978 you need to configure csi-proxy.exe on Windows agent node first, here is an example: https://github.com/kubernetes-csi/csi-driver-smb/blob/a9a2e47b1790b18e722e9d0b4d413c4e8a520507/.github/workflows/windows.yaml#L26-L30
if you hit issue, pls file issue in [csi-driver-smb](https://github.com/kubernetes-csi/csi-driver-smb). This flexvol repository here is not only works on Linux node.

[2021-01-12 19:55] arthuersundar opened #96 "Unable to Mount a fileshare in AKS using SAS token"
Hi Team,
We are unable to Mount a fileshare in AKS using SAS token. We are able to mount the same using access keys.

it errors out throwing "couldn't extract azurestorageaccountname and azurestorageaccount key"

We used the below command to create the secret. Can you check.

kubectl create secret generic <<secretname>> --from-literal accountname=<<ACCOUNTNAME>>  --from-literal sasToken="<<SASURI>

[2021-01-13 03:24] andyzhangx commented on #96
which driver and manual are you following?

[2021-01-13 03:25] andyzhangx commented on #96
if it's azure file driver, you could follow: https://docs.microsoft.com/en-us/azure/aks/azure-files-dynamic-pv

[2021-01-21 17:06] snachiap opened #97 "Upgrade Busy box version to 1.32.0"
Thanks for the wonderful library, Very much helpful with Azure Kubernetes.

**Is your feature request related to a problem?/Why is this needed**
Current version of busybox is 1.31.1 and it has a high vulnerable issue reported by vulnerability scanning applications.

**Vulnerability details below**
[code]

**Fix Status**
Fixed in busybox version 1.32.0

We can update this at our side as well. but i

[2021-01-22 11:21] andyzhangx commented on #97
thanks for reminder, blobfuse flexvol 1.0.17 and smb flexvol  1.0.5 has been built with `busybox:1.32.0`

[2021-01-22 11:21] #97 closed

[2021-02-10 18:04] juanmanuel-moreno opened #100 "Umount failed by kubelet in K8S 1.18.14 and ubuntu"
**What happened**:
kubet display errors to umount volume fuse and volume has not point of mount (if is located folder :
`/var/lib/kubelet/pods/c5936d69-59ff-46e9-9054-50056b4b2d3d/volumes/azure~blobfuse/fuse`

The folder has data , is the blobcontainer with its folder listed ok, but there is not any point of mount related with that... because never a pount of mount is created but if is local folde

[2021-02-11 02:01] andyzhangx commented on #100
are you using latest `1.0.17` version? We did a workaround fix for this issue a few months ago:
https://github.com/Azure/kubernetes-volume-drivers/pull/93

[2021-02-11 19:10] juanmanuel-moreno commented on #100
Yes, I installed latest: mcr.microsoft.com/k8s/flexvolume/blobfuse-flexvolume:1.0.17

But same error is reproduced again like is reported in [#93](https://github.com/Azure/kubernetes-volume-drivers/pull/93)

[2021-02-12 12:38] juanmanuel-moreno commented on #100
I have local files connected yet with blob, but is not any point of mount:

[code]

So your latest fix,  the IF could not be working waiting != 0 ...

[code]
Because my file: cat /var/log/blobfuse-driver.log |grep -v Success

Only reports this kind of messages, nothing about " EXEC:rm ":

[code]

[2021-02-12 13:44] andyzhangx commented on #100
what's the result of `findmnt -n ${MNTPATH} 2>/dev/null | cut -d' ' -f1` ?
https://github.com/Azure/kubernetes-volume-drivers/blob/5b19277fd15011908c562cd31eee9113575a1623/flexvolume/blobfuse/deployment/blobfuse-flexvol-installer/blobfuse#L28

[2021-02-15 08:51] juanmanuel-moreno commented on #100
The result is empty :

[code]

But if you list the folder, is displayed remote blob files:

[code]

[2021-02-15 12:39] andyzhangx commented on #100
could you run `mount | grep blobfuse` to check again? it seems that `azure~blobfuse/fuse/data` is not a blobfuse mount

[2021-02-16 09:10] jmmc-tools commented on #100
It's that, the folder is a blobfuse because I browse for all files like Azure portal with explorer, but if you run : mount | grep blobfuse , the results is empty againg, so the pod is not existing now, not mounted as a partition but folder local folder is connected yet to blobfuse. Could be a inode problems? I think is a low level problem here , right? Because the pod is not already exists in node

[2021-02-17 19:35] amitm20692 opened #101 "df -h shows no mount for blobfuse container after kubernetes cluster upgrade to 1.19.7 in AKS"
I recently upgraded my kubernetes cluster to 1.19.7 and upgraded blobfuse version to 1.17 using the( kubectl apply -f https://raw.githubusercontent.com/Azure/kubernetes-volume-drivers/master/flexvolume/blobfuse/deployment/blobfuse-flexvol-installer-1.9.yaml)

When I tired to check the pods where I am trying to mount it using df-h command, I could not see the mounted directory.
[driver-logs.txt](ht

[2021-02-17 20:14] amitm20692 commented on #100
Were you able to fix it?

[2021-02-18 03:14] andyzhangx commented on #100
not sure how to fix it, in that case, you can delete that pod with unmount failure directly.

[2021-02-18 04:20] andyzhangx commented on #101
last log shows it's success:
[code]

could you ssh to the agent node, and then run `mount | grep blobfuse` to check again? thanks.

[2021-02-18 07:29] amitm20692 commented on #101
No output.
Actually this is the surprising part. The driver log shows everything successful but still the mount doesn't work.
I have had this issue on 2 different clusters actually. What I have done so far is delete the blobfuse daemonset, resinstall it and then scale up/scale down the pods which require the mount. After few attempts it worked on the previous cluster.
Now, I can't go with this str

[2021-02-18 07:41] andyzhangx commented on #101
all blobfuse mount are using same `tmp-path`, there could be conflict:
`-tmp-path=/tmp/fileautomation/`

Could you remove `tmp-path` parameter and try again, it will use timestamp in `tmp-path`

[2021-02-18 10:01] jmmc-tools opened #102 "not sure how to fix it, in that case, you can delete that pod with unmount failure directly."
not sure how to fix it, in that case, you can delete that pod with unmount failure directly.

_Originally posted by @andyzhangx in https://github.com/Azure/kubernetes-volume-drivers/issues/100#issuecomment-781015197_

I think is the new fix published is the solution:

 rm -r --one-file-system "${MNTPATH}" >> $LOG 2>&1

But we have a production environment, so this command is very critical and we p

[2021-02-18 11:52] andyzhangx commented on #100
I suspect it's due to `subPath: folderInBlob`, would you not use `subPath` and try again?

[2021-02-22 13:06] #102 closed

[2021-02-22 13:20] jmmc-tools commented on #100
When I remove subPath... same the volume is not mounted. I paste the node messages when I remove the pod:

[code]

[2021-02-22 14:10] amitm20692 commented on #101
If I don't use -tmp-path, the driver uses /mnt/blobfuse as default

[2021-02-22 14:17] andyzhangx commented on #101
I have update the doc, by default it should be `/mnt/blobfuse{random-num}`

[2021-02-22 14:22] amitm20692 commented on #101
it's /mnt/blobfuse only. What outputs/logs would you need to verify it?

[2021-02-22 14:28] andyzhangx commented on #101
is it possible to use https://github.com/kubernetes-sigs/blob-csi-driver instead?

[2021-02-22 14:35] amitm20692 commented on #101
We want to, but at this point, so close to major release, we can't switch it without proper testing.

[2021-02-22 16:31] jmmc-tools commented on #100
Coud be related this other bug with fuse driver in ubuntu? [azure-storage-fuse#428](https://github.com/Azure/azure-storage-fuse/issues/428)

[2021-02-23 05:55] boddumanohar commented on #37
/assign

[2021-02-23 09:29] andyzhangx commented on #100
could be, would you set `--log-level=LOG_DEBUG` in mountOptions and try get debugging info again? thanks.

[2021-03-17 21:38] jmmc-tools commented on #100
Sorry I haven't had a time, I will try to update with results from this point.

On the other hand, the problem could be related with new containerd runtime for kubernetes 1.19-1.2x ? Here explains there is a  different operation because Docker is not present, now is Containerd:
https://docs.microsoft.com/en-us/azure/aks/cluster-configuration#container-runtime-configuration

[2021-03-23 12:19] boddumanohar commented on #37
/assign

[2021-03-23 12:20] boddumanohar commented on #37
created a PR to fix the above: https://github.com/Azure/kubernetes-volume-drivers/pull/103

[2021-04-21 16:47] snachiap commented on #100
Hi, I face the same issue. But when I run with -d option I see this error.
[code]

[2021-04-22 09:42] andyzhangx commented on #100
is `-d` mount options valid in blobfuse? @snachiap

[2021-04-22 10:06] snachiap commented on #100
Hi, With the mount Option, I added "-d" and I was able to see better logs. It would be helpful to go through this thread to see the compatibility problem between blobfuse and libfuse in details.

https://github.com/Azure/azure-storage-fuse/issues/395

[2021-04-30 15:30] guoweis-outreach commented on #101
I'm seeing the same thing here. I did `/usr/bin/blobfuse /tmp/abc --container-name=0000test --tmp-path=/tmp/blobfuse -o allow_other -o ro --file-cache-timeout-in-seconds=120 --use-https=true` and it says everything succeeded. But I don't see it in the mount list

[2021-04-30 15:57] guoweis-outreach commented on #101
[code]

gives no output at all.

Dumping `/var/log/syslog`, I only see these 4 lines
[code]

[2021-04-30 16:44] guoweis-outreach commented on #101
added `-d` option and it provided more output
[code]

[2021-04-30 22:29] ssbandari1 commented on #7
@andyzhangx ,

- Cluster's Location: westus2

We have 2 cluster with different scenarios
1) we recently upgraded the cluster from 1.17.X to 1.18.X
Pod can start, but the mounted volume is empty.

2) pod failed to start on 1.20.5 with the following error
 Warning  FailedMount  105s (x13 over 12m)  kubelet            MountVolume.SetUp failed for volume 'test' : invalid character 'R' looking for begi

[2021-06-24 03:49] andyzhangx commented on #101
could be related to this issue: [blobfuse mount with invalid credentials still returns succeed](https://github.com/Azure/azure-storage-fuse/issues/613)

anyway, I think your credentials of blobfuse is wrong

[2021-07-16 13:08] jmorcar commented on #100
Solved for me! you need to upgrade AKS cluster nodepools or recreate new nodepool to obtain a node with new OS Ubuntu 18.04.5 instead of 18.04.1 which I believe this was the original problem... for example this problem is solved in:

[code]

Pending to check in AKS upgraded nodepools with K8s v 1.20.x ...

[2021-08-25 22:34] sunkararp opened #106 "Error: storageclass.storage.k8s.io "fast-disks" not found"
**What happened**:
- K8S version 1.20.7
- Deployed a new AKS cluster, used Standard_L8s_v2 VM SKUE. This SKU has 2 TB of NVMe storage
- Followed step in [Azure/kubernetes-volume-drivers/local](/Azure/kubernetes-volume-drivers/tree/master/local)
- Nothing shows up when I run this command
[code]
- Below is the error noticed
[code]

[2021-12-03 17:45] lonnieherring opened #108 "kubectl exec -it <podname> -- df -h shows size of 60Z"
Followed the instructions on this page when i got to testing the deployment recieved the following out put from

kubectl exec -it deployment-localdisk-6f95f4f858-bjkms -- df -h
Filesystem      Size  Used Avail Use% Mounted on
overlay         124G   23G  102G  19% /
tmpfs            64M     0   64M   0% /dev
tmpfs            32G     0   32G   0% /sys/fs/cgroup
/dev/sdb1        60Z   60Z     0 100%

[2021-12-03 17:48] lonnieherring commented on #108
aks kubernetes version 1.21.2

[2021-12-03 17:48] lonnieherring commented on #108
node type E8ds_v4

[2021-12-04 03:24] andyzhangx commented on #108
what's your disk size? looks like file system is corrupted

[2021-12-04 03:24] andyzhangx commented on #108
https://unix.stackexchange.com/questions/330742/cannot-remove-file-structure-needs-cleaning

[2021-12-04 20:07] lonnieherring commented on #108
I am in aks if I drop the deployment and reistablish it its supposed to repartition and reformat it correct.  This doesnt seem to be happening.  Can I drop the partition from a pod and recreate it?

[2021-12-04 20:18] lonnieherring commented on #108
df
Filesystem                1K-blocks                 Used Available Use% Mounted on
overlay                   129900528             24193776 105690368  19% /
tmpfs                         65536                    0     65536   0% /dev
tmpfs                      32934120                    0  32934120   0% /sys/fs/cgroup
/dev/sdb1      69679034472154449220 69679034471845929516         0 100% /mnt

[2021-12-04 20:19] lonnieherring commented on #108
Seems like this should be something the provisioner should be handling.  I dont seem to be able to do anything about it.

[2021-12-04 20:52] lonnieherring commented on #108
su -
root@deployment-localdisk-687ccc64f6-4vgs2:~# umount /dev/sdb1
umount: /mnt/localdisk: must be superuser to unmount.

[2021-12-04 20:54] lonnieherring commented on #108
also its a 300G but I reserver 299.

[2021-12-04 21:08] lonnieherring commented on #108
I also tried an aks debug pod.  That didnt work either.

root@aks-default2-35939363-vmss000000:/# su -
root@aks-default2-35939363-vmss000000:~# umount /dev/sdb1
umount: /host/var/lib/kubelet/plugins/kubernetes.io/local-volume/mounts/local-pv-41ef20bb: must be superuser to unmount.

It seems I cannot fix the issue with the node.  Setting up a new node pool every time this happens is less then desir

[2021-12-05 00:41] andyzhangx commented on #108
could you provide `kubectl logs local-volume-provisioner-xxx-n kube-system` logs on that agent node? thanks.

[2021-12-05 11:44] #106 closed

[2021-12-05 11:50] andyzhangx commented on #96
You must mount the Azure file share over SMB by using the storage account keys.
https://docs.microsoft.com/en-us/azure/storage/files/storage-files-faq#security-authentication-and-access-control

[2021-12-05 11:50] #96 closed

[2021-12-05 11:51] andyzhangx commented on #48
SMB CSI driver is already GA

[2021-12-05 11:51] #48 closed

[2021-12-06 19:08] lonnieherring commented on #108
it looks like the log is continuing to try and clean /dev/sdb1 with the shred script.  I guess I just have to wait.  The go program is scanning all the files under /dev.  This seems to be slowing it down considerably.

[2021-12-06 19:21] lonnieherring commented on #108
so the cleanup finished I waited a few minutes after that then redeployed same issue.
I1206 19:08:29.589363       1 discovery.go:287] file(vga_arbiter) under(/dev) does not match pattern(sdb1*)
I1206 19:08:30.002249       1 deleter.go:319] Cleanup pv "local-pv-d655187b": StderrBuf - "shred: /dev/sdb1: pass 3/3 (000000)...296GiB/300GiB 98%"
I1206 19:08:35.002239       1 deleter.go:319] Cleanup pv "

[2021-12-06 19:27] lonnieherring commented on #108
So I see some issues
The scan of the /dev
The shred script messing up the volume without repartitioning and formating it after.

Is it appropriate on the aks E8ds_v4's to be using the following?
       hostDir: /dev
       mountDir:  /dev

[2021-12-06 19:28] lonnieherring commented on #108
it seems to contradict what I am seeing as the mount path on the node.
/host/var/lib/kubelet/plugins/kubernetes.io/local-volume/mounts/local-pv-d655187b

[2021-12-06 19:30] lonnieherring commented on #108
the mount path for temp appears to be this for a non provisioned node.
lsblk
NAME    MAJ:MIN RM   SIZE RO TYPE MOUNTPOINT
sda       8:0    0   128G  0 disk
|-sda1    8:1    0 127.9G  0 part /host
|-sda14   8:14   0     4M  0 part
`-sda15   8:15   0   106M  0 part /host/boot/efi
sdb       8:16   0   300G  0 disk
`-sdb1    8:17   0   300G  0 part /host/mnt

[2021-12-09 15:03] lonnieherring commented on #108
I have not heard about this issue in quite a while.  I am kind of stuck in terms of using tempdb space and nvme space until i either understand how to resolve this, or configure it correctly or if there is a patch comming do you have any kind of eta on it.

[2021-12-14 20:09] lonnieherring commented on #101
I am not using azure storage.  I am using the local static provisioner for the node drive in kubernetes.

[2021-12-14 20:10] lonnieherring commented on #108
following these instructions.
https://github.com/Azure/kubernetes-volume-drivers/tree/master/local

[2021-12-15 16:22] HimanshuZinzuwadia opened #111 "Please explain the --volume parameter in config kubelet service to enable FlexVolume driver"
**Is your feature request related to a problem?/Why is this needed**
I don't understand the purpose of this line and where to put it.
  --volume=/etc/kubernetes/volumeplugins:/etc/kubernetes/volumeplugins:rw \
There is no such file
 /etc/systemd/system/kubelet.service.
There are /var/lib/kubelet/config.yaml and /etc/systemd/system/kubelet.service.d/10-kubeadm.conf and  /etc/default/kubelet contain

[2021-12-16 03:59] andyzhangx commented on #111
it's kubelet binary parameter under kubelet service, and flexvolume is already deprecated, what flexvolume plugin are you using now? I would suggest use CSI driver instead.
[code]

[2021-12-16 14:58] HimanshuZinzuwadia commented on #111
I am using NFS plugin q1autoops which is similar to this one. I am installing that plugin manually on the windows node. For this one also I install it manually on windows node in similar way, So I think that the above change to make plugin volume rw is not required. I will try to add this parameter to the kubelet service startup script installed by Calico on my windows node.

CSI Driver for window

[2022-01-20 01:54] sunkararp opened #113 "NVMe disk was not discovered on Standard_L8s_v2 VM SKU"
**What happened**:
I'm using Standard_L8s_v2 VM SKU
- The 1X1.92 TM nvme disk was not discovered on
- It only discovered 80 GB temp disk

**What you expected to happen**:
Both 80 GB temp disk and 1.92 NVMe disk be discovered

**How to reproduce it**:
Create a K8s Cluster with vm scale set with Standard_L8s_v2 VM SKU

**Anything else we need to know?**:
- Followed instructions from this https://git

[2022-01-20 02:11] andyzhangx commented on #113
have you used `https://raw.githubusercontent.com/Azure/kubernetes-volume-drivers/master/local/local-pv-provisioner-nvmedisk.yaml`? it would find `/dev/nvm*` disks on agent node.

[2022-01-20 02:16] sunkararp commented on #113
@andyzhangx thanks for the reply.

- I did use https://raw.githubusercontent.com/Azure/kubernetes-volume-drivers/master/local/local-pv-provisioner-nvmedisk.yaml?
- Did did not find the NVMe disks
- Surprisingly, I have few other node pools that use Standard_L8s_v2 VM SKU and work fine

[2022-01-20 02:18] andyzhangx commented on #113
@sunkararp could you ssh to the agent node, and check whether there is `/dev/nvm*` device? if there is, follow guide here to get logs: https://github.com/Azure/kubernetes-volume-drivers/tree/master/local#troubleshooting

[2022-01-20 02:19] andyzhangx commented on #113
and did you add any taint to prevent that daemonset run on your node pool?

[2022-01-20 02:29] andyzhangx commented on #113
so there is no `/dev/nvm*` disk under that node?

[2022-01-20 02:31] sunkararp commented on #113
No

[2022-01-20 02:33] andyzhangx commented on #113
then do you know what's the device name of that nvme disk in that node pool? It should be `/dev/nvme*` device name for all nvme disks. Is it reproable?

[2022-01-20 02:36] sunkararp commented on #113
Just noticed...
- we were using mcr.microsoft.com/k8s/local-volume-provisioner:v2.3.5-alpha of local-volume-provisioner
- New script is using mcr.microsoft.com/k8s/local-volume-provisioner:v2.4.0
- Does this matter?

[2022-01-20 02:38] andyzhangx commented on #113
@sunkararp these 2 versions almost has no difference. I think you need to find out what is the nvme device on that node, it's strange.

[2022-01-20 02:41] sunkararp commented on #113
How do I do that? I cannot connect to the node due to compliance.

I can run kubectl exec -it POD however.

[2022-01-20 02:45] sunkararp commented on #113
BTW does app container deployed on this VM need to do anything for nvme disks to be visible?

[2022-01-20 02:53] andyzhangx commented on #113
try `kubectl exec -it local-volume-provisioner-xxxxx -n kube-system -- ls /dev/`

[2022-01-20 02:56] sunkararp commented on #113
<img width="1292" alt="Capture" src="https://user-images.githubusercontent.com/10903166/150263993-038309b7-0ea2-4ea1-96ca-04ecb36142b6.PNG">

[2022-01-20 03:00] andyzhangx commented on #113
i see nvme disk is there, there is conflict between `https://github.com/Azure/kubernetes-volume-drivers/blob/master/local/local-pv-provisioner-tempdisk.yaml` and `local-pv-provisioner-nvmedisk.yaml`, pls only use one yaml config.

[2022-01-20 03:25] sunkararp commented on #113
Awesome!
Thanks for your help

[2022-01-29 15:08] sunkararp commented on #113
Sorry to reopen this issue.
- I changed access mode to ReadWriteMany & it fails to BIND (I recreated the VM)
- Below is the screen capture of the logs
  <img width="1230" alt="Capture" src="https://user-images.githubusercontent.com/10903166/151666049-a5b94158-68e6-4f6a-ab73-8eb488580351.PNG">

Therefore, is ReadWriteMany supported?

[2022-01-29 15:10] andyzhangx commented on #113
@sunkararp no, local disk only supports ReadWriteOnce

[2022-01-29 15:11] #113 closed

[2022-01-29 15:11] sunkararp commented on #113
thanks, for quick reply

[2022-05-30 12:48] microsoft-github-policy-service[bot] opened #116 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-30 12:50] #116 closed

[2022-05-30 13:12] andyzhangx opened #117 "[local volume provisioner]temp disk may be corrupted if it's used by two drivers or applications."
**What happened**:

Since for the temp disk, it may be used by other applications or driver, e.g. blob csi driver, if both drivers or applications are writing data to /dev/sdb1 temp disk, that disk would be corrupted easily.

[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- OS (

[2022-06-08 10:57] andyzhangx commented on #117
#### Option#2: discover temp(`/dev/sdb1`) disk

[code]

[2022-08-19 17:36] olsenme commented on #113
@sunkararp would you be willing to have a chat with the PG team on your use case for this?

[2022-08-19 17:39] olsenme commented on #75
@ams0  would you be open to having a chat with the PG team to learn more about your use case?

[2022-08-19 18:15] ams0 commented on #75
@olsenme absolutely, ping me on Teams or on LinkedIn: https://www.linkedin.com/in/alessandrovozza

[2022-08-19 20:07] sunkararp commented on #113
Sure.

BTW, we already in contact with MSFT on another issue relating to NVMe disk. TrackingID#2207130010002328

[2022-09-07 07:52] wweghe opened #121 "Support for tainted nodes"
**Is your feature request related to a problem?/Why is this needed**
I would need support for "Tainted" kubernetes nodes.
I'm running the yaml-files on my AKS cluster, and the nodes where I would need the nvme storage are tainted, to only allow "certain" pods to run. Obvisouly the local-volume-provisioner-*** pods do not have the necessary tolerations, so they are not allowed to run on my tainted

[2022-09-07 07:56] andyzhangx commented on #121
here is an example to add `tolerations` in the daemonset:
[code]
https://github.com/kubernetes-sigs/blob-csi-driver/blob/939ef16cdadcce7c7a9b160516d0ba3d7a9c9f59/deploy/csi-blob-node.yaml#L36-L37